In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        'A':[1,2,3],
        'B':['a','b','c'],
    }
)

In [3]:
df

   A  B
0  1  a
1  2  b
2  3  c

In [4]:
df2 = pd.DataFrame(
    {
        'A':[4,5,6],
        'B':['k','k','k'],
    }
)

In [10]:
res = pd.merge(
    df, df2, on=['A'], 
    how='right', 
    suffixes=['_1st','_2nd']
)

res

   A B_1st B_2nd
0  4   NaN     k
1  5   NaN     k
2  6   NaN     k

In [11]:
res = pd.merge(
    df, df2, on=['A'], 
    how='left', 
    suffixes=['_1st','_2nd']
)

res

   A B_1st B_2nd
0  1     a   NaN
1  2     b   NaN
2  3     c   NaN