# Correlator

---

# Table of Contents

### 1. [time generator](#t_gen)
### 2. [reformatter manipulation](#ref)
### 3. [eval function](#eval)
### 4. [pandas eval](#pd_eval)




<br><br><br><br><br><br>

---

<a id="t_gen"></a>
## Time generator
### w.r.t given time period

In [1]:
from datetime import datetime as dt
from datetime import timedelta as td

In [2]:
from dateutil import parser

#### set time interval : start to end

In [3]:
start = '2019-01-01'
end = '2019-02-01'

In [4]:
_start = parser.parse(start)
_end = parser.parse(end)

#### set delta time as unit of days

In [5]:
def time_generator(date_start='', date_end='', delta=1):
    
    _start = parser.parse(date_start)
    _end = parser.parse(date_end)
    
    result = []

    last_date = _start

    while last_date < _end:
        temp = []
        temp.append(str(last_date))
        
        # define last date
        last_date += td(days=delta)
        if last_date < _end:
            temp.append(str(last_date))
        else:
            temp.append(str(_end))
        
        result.append(temp)
        
    return result

#### output form as list of [start, end] form

In [9]:
res = time_generator(date_start=start, date_end=end, delta=1)

for it in res:
    print('from {0} to {1}'.format(it[0], it[1]))

from 2019-01-01 00:00:00 to 2019-01-02 00:00:00
from 2019-01-02 00:00:00 to 2019-01-03 00:00:00
from 2019-01-03 00:00:00 to 2019-01-04 00:00:00
from 2019-01-04 00:00:00 to 2019-01-05 00:00:00
from 2019-01-05 00:00:00 to 2019-01-06 00:00:00
from 2019-01-06 00:00:00 to 2019-01-07 00:00:00
from 2019-01-07 00:00:00 to 2019-01-08 00:00:00
from 2019-01-08 00:00:00 to 2019-01-09 00:00:00
from 2019-01-09 00:00:00 to 2019-01-10 00:00:00
from 2019-01-10 00:00:00 to 2019-01-11 00:00:00
from 2019-01-11 00:00:00 to 2019-01-12 00:00:00
from 2019-01-12 00:00:00 to 2019-01-13 00:00:00
from 2019-01-13 00:00:00 to 2019-01-14 00:00:00
from 2019-01-14 00:00:00 to 2019-01-15 00:00:00
from 2019-01-15 00:00:00 to 2019-01-16 00:00:00
from 2019-01-16 00:00:00 to 2019-01-17 00:00:00
from 2019-01-17 00:00:00 to 2019-01-18 00:00:00
from 2019-01-18 00:00:00 to 2019-01-19 00:00:00
from 2019-01-19 00:00:00 to 2019-01-20 00:00:00
from 2019-01-20 00:00:00 to 2019-01-21 00:00:00
from 2019-01-21 00:00:00 to 2019-01-22 00:00:00
from 2019-01-22 00:00:00 to 2019-01-23 00:00:00
from 2019-01-23 00:00:00 to 2019-01-24 00:00:00
from 2019-01-24 00:00:00 to 2019-01-25 00:00:00
from 2019-01-25 00:00:00 to 2019-01-26 00:00:00
from 2019-01-26 00:00:00 to 2019-01-27 00:00:00
from 2019-01-27 00:00:00 to 2019-01-28 00:00:00
from 2019-01-28 00:00:00 to 2019-01-29 00:00:00
from 2019-01-29 00:00:00 to 2019-01-30 00:00:00
from 2019-01-30 00:00:00 to 2019-01-31 00:00:00
from 2019-01-31 00:00:00 to 2019-02-01 00:00:00

---

<a id="ref"></a>
## reformatter manipulation

In [1]:
import pandas as pd

In [2]:
import goldentiger as gt

In [3]:
df = pd.read_excel(
    gt.sample,
    sheetname='ref',
)

df

     item_id alias           addp
0  cov~lkg08   cov  log4({A}-{B})

In [4]:
A = 1024
B = 512

In [5]:
type(df['addp'])

pandas.core.series.Series

In [6]:
df['addp']

0    log4({A}-{B})
Name: addp, dtype: object

In [7]:
res = df['addp'][0]

In [8]:
res2 = res.replace('{','')
res2 = res2.replace('}','')

res2

'log4(A-B)'

### pre-defined functions

In [9]:
import math
from functools import partial

#### log function with different base

In [10]:
def log(x, base=10):
    return math.log(x, base)

In [16]:
log2 = partial(log, base=2)
log4 = partial(log, base=4)

In [17]:
res2

'log4(A-B)'

In [13]:
eval(res2)

4.5

In [15]:
4**4.5

512.0

#### exponential function

In [31]:
df = pd.read_excel(
    gt.sample,
    sheetname='ref',
)

df

     item_id alias      addp
0  cov~lkg08   cov  exp(A)-B

In [52]:
A = 6
B = 300

In [53]:
def exponential(x):
    return math.exp(x)

In [54]:
exp = exponential

In [55]:
eval(df['addp'][0])

103.42879349273511

#### equivalency test

In [57]:
eval(df['addp'][0]) == math.exp(A) - B

True

---

<a id="eval"></a>
## eval function
### apply alias using eval

In [3]:
import pandas as pd, goldentiger as gt

In [5]:
df = pd.read_excel(
    gt.sample,
    sheetname='data',
)

df

  lot  value       date
0   A      1 2019-01-01
1   A      2 2019-01-02
2   B      3 2019-01-03
3   B      4 2019-01-04
4   C      5 2019-01-05
5   C      6 2019-01-10

### eval method #1

In [22]:
A = ['A']
B = ['B']
C = ['C']

In [23]:
cond = {
    'condition':[
        "df['lot'].isin(A)",
        "df['lot'].isin(B)",
        "df['lot'].isin(C)",
    ],
    'alias':[
        'alias is A',
        'alias is B',
        'alias is C',
    ]
}

In [24]:
for i, key in enumerate(cond['condition']):
    df.loc[eval(key), 'Alias'] = cond['alias'][i]
    
df

  lot  value       date       Alias
0   A      1 2019-01-01  alias is A
1   A      2 2019-01-02  alias is A
2   B      3 2019-01-03  alias is B
3   B      4 2019-01-04  alias is B
4   C      5 2019-01-05  alias is C
5   C      6 2019-01-10  alias is C

### eval method #2

In [25]:
A = 'A'
B = 'B'
C = 'C'

In [26]:
cond = {
    'condition':[
        "df['lot'] == A",
        "df['lot'] == B",
        "df['lot'] == C",
    ],
    'alias':[
        'alias is A',
        'alias is B',
        'alias is C',
    ]
}

In [36]:
for i, key in enumerate(cond['condition']):
    df.loc[eval(key), 'Alias'] = cond['alias'][i]
    
df

  lot  value       date       Alias
0   A      1 2019-01-01  alias is A
1   A      2 2019-01-02  alias is A
2   B      3 2019-01-03  alias is B
3   B      4 2019-01-04  alias is B
4   C      5 2019-01-05  alias is C
5   C      6 2019-01-10  alias is C

### eval method #3

In [78]:
df = pd.read_excel(
    gt.sample,
    sheetname='data',
)

df

  lot  value       date
0   A      1 2019-01-01
1   A      2 2019-01-02
2   B      3 2019-01-03
3   B      4 2019-01-04
4   C      5 2019-01-05
5   C      6 2019-01-10

In [79]:
expr = "df.value > 3"
df.loc[eval(expr), 'Alias'] = 'Marked!'

df

  lot  value       date    Alias
0   A      1 2019-01-01      NaN
1   A      2 2019-01-02      NaN
2   B      3 2019-01-03      NaN
3   B      4 2019-01-04  Marked!
4   C      5 2019-01-05  Marked!
5   C      6 2019-01-10  Marked!

---

<a id="pd_eval"></a>
## pandas eval function

In [92]:
import pandas as pd, goldentiger as gt

In [93]:
df = pd.read_excel(
    gt.sample,
    sheetname='pd_eval',
)

df

      item_A    item_B
0  48.867658  8.397036
1  45.369303  7.704162
2  47.209531  7.059139
3  49.830989  1.048140
4  34.058761  4.385182

In [95]:
expr = '{item_A} - 2*{item_B}'

expr = expr.replace('{','')
expr = expr.replace('}','')

In [97]:
expr

'item_A - 2*item_B'

In [98]:
df['result'] = df.eval(expr)

df

      item_A    item_B     result
0  48.867658  8.397036  32.073587
1  45.369303  7.704162  29.960979
2  47.209531  7.059139  33.091253
3  49.830989  1.048140  47.734709
4  34.058761  4.385182  25.288398