# Time

## Time handling in Python
<br>

# Table of Contents

### 1. datetime

1. [methods](#datetime_class)
2. [date & time](#date_time)
3. [TimeDelta](#date_td)

### 2. dateutil

1. [relative timedelta](#dateutil_class)

### 3. ETC

1. [Convert str to time & vice versa](#conversion)

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

---

<a id="conversion"></a>
# Convert str to time & vice versa

In [1]:
from datetime import datetime as dt, timedelta as td
import time

**datetime now** is return a current time

In [2]:
now = dt.now()

In [3]:
now

datetime.datetime(2017, 12, 3, 7, 41, 15, 863225)

**datetime object methods** : year, month, day, hour, minute, second

In [4]:
print('{}-{}-{} {}:{}:{}'.format(now.year, now.month, now.day, now.hour, now.minute, now.second))

2017-12-3 7:41:15

## convert datetime to str

**using strftime**

In [5]:
stringtime = dt.now().strftime("%Y-%m-%d %H:%M:%S")

In [6]:
stringtime

'2017-12-03 07:41:15'

---

## convert str to datetime

** using strptime**

In [7]:
str_time = '2017-11-26 08:24:26'

**time format** should be given

In [8]:
time_obj = dt.strptime(str_time, "%Y-%m-%d %H:%M:%S")

In [9]:
time_obj

datetime.datetime(2017, 11, 26, 8, 24, 26)

<a id="timedelta"></a>
<br>
# TimeDelta

In [10]:
now = dt.now()

In [11]:
now

datetime.datetime(2017, 12, 3, 7, 41, 16, 53745)

## timedelta example

In [12]:
time_shifted = now + td(days=1)

In [13]:
time_shifted

datetime.datetime(2017, 12, 4, 7, 41, 16, 53745)

## timedelta with multiple args

In [14]:
time_shifted2 = now + td(days=1, hours=12, minutes=5, seconds=15)

In [15]:
time_shifted2

datetime.datetime(2017, 12, 4, 19, 46, 31, 53745)

---

<a id="date_td"></a>
# TimeDelta

In [60]:
dt1 = dt(2016, 2, 19, 14)
dt2 = dt(2016, 1, 2, 12)

**timedelta object can be extracted** substraction datetime to datetime

In [61]:
td = dt1 - dt2

In [62]:
td

datetime.timedelta(48, 7200)

**Properties**

In [63]:
td.days

48

In [64]:
td.seconds

7200

In [65]:
td.microseconds

0

**methods**

In [67]:
td.total_seconds()

4154400.0

---

<a id="datetime_class"></a>
# datetime

## methods

<a href="https://datascienceschool.net/view-notebook/465066ac92ef4da3b0aba32f76d9750a/">Tutorial Link</a>

In [16]:
now = dt.now()

**weekday method** : 요일을 int 로 반환

In [17]:
# weekday(): 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
weekday = now.weekday()

In [18]:
weekday

6

---

<a id="date_time"></a>
# date & time class

**date class** : only manipulating year, month, day level time

In [16]:
_date = now.date()

In [17]:
_date

datetime.date(2017, 12, 10)

**time class** : only manipulating hours, minutes, seconds level time

In [18]:
_time = now.time()

In [19]:
_time

datetime.time(10, 42, 31, 913363)

**combine date & time class** as datetime class

In [20]:
new_dt = dt.combine(_date, _time)

In [21]:
type(new_dt)

datetime.datetime

In [22]:
new_dt

datetime.datetime(2017, 12, 10, 10, 42, 31, 913363)

---

<a id="dateutil_class"></a>
# dateutil

**time format is not needed** when parse str to datetime

dateutil **translate proper str time format** before parsing to datetime

In [23]:
from dateutil.parser import parse

In [24]:
_time = parse('2016-04-16 18:52:26')

In [25]:
_time

datetime.datetime(2016, 4, 16, 18, 52, 26)

In [26]:
_time2 = parse("Apr 16, 2016 04:05:32 PM")

In [27]:
_time2

datetime.datetime(2016, 4, 16, 16, 5, 32)

In [28]:
_time3 = parse('6/7/2016')

In [29]:
_time3

datetime.datetime(2016, 6, 7, 0, 0)

<a id="r_t_delta"></a>
## relative timedelta

In [3]:
from dateutil.relativedelta import relativedelta

In [4]:
now = dt.now()
now

datetime.datetime(2017, 12, 10, 10, 42, 31, 913363)

relativedelta input kwargs should be expressed **plural form**

In [5]:
res = now - relativedelta(years=1, months=1, days=1, hours=1, minutes=1, seconds=1)

In [6]:
type(res)

datetime.datetime

In [7]:
now

datetime.datetime(2017, 12, 10, 10, 42, 31, 913363)

In [8]:
res

datetime.datetime(2016, 11, 9, 9, 41, 30, 913363)

<a id="r_t_delta"></a>
## pandas 에서 timedelta 적용

In [31]:
import pandas as pd
import goldentiger as gt
from datetime import datetime as dt
from datetime import timedelta as td

In [39]:
sp = gt.read_sample()
sp

  ITEM       TIME
0    A 2021-01-01
1    B 2021-02-01
2    C 2021-03-01
3    D 2021-04-01
4    E 2021-05-01

### timedelta 적용

In [41]:
# 초 단위로 time delta 적용
sp['TIME_shift'] = sp['TIME'] + pd.Timedelta(seconds=60*60*24*15); sp

  ITEM       TIME TIME_shift
0    A 2021-01-01 2021-01-16
1    B 2021-02-01 2021-02-16
2    C 2021-03-01 2021-03-16
3    D 2021-04-01 2021-04-16
4    E 2021-05-01 2021-05-16

In [42]:
sp['Week'] = sp['TIME'].dt.week
sp['Week_shift'] = sp['TIME_shift'].dt.week
sp

<ipython-input-42-543c6eb7c559>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  sp['Week'] = sp['TIME'].dt.week
<ipython-input-42-543c6eb7c559>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  sp['Week_shift'] = sp['TIME_shift'].dt.week

  ITEM       TIME TIME_shift  Week  Week_shift
0    A 2021-01-01 2021-01-16    53           2
1    B 2021-02-01 2021-02-16     5           7
2    C 2021-03-01 2021-03-16     9          11
3    D 2021-04-01 2021-04-16    13          15
4    E 2021-05-01 2021-05-16    17          19

## 특정 날자의 year, week, day 정보 구하기

In [46]:
_now = dt.now()
res = _now.isocalendar()

res

(2021, 20, 6)

## 날자를 shift 해서 week 구하기
#### 현재 날자를 기준으로 7일 전까지를 이번주로 규정

In [56]:
def get_next_monday_time():
    # 다음주 월요일 시작 datetime 구하기
    next_week = dt.now() + td(days=7)
    monday = (next_week - td(days = next_week.weekday())).date()    
    _time = datetime.min.time()
    
    monday = dt.combine(monday, _time)
    
    return monday

In [70]:
def get_week_info_from_now_on(df, df_column, week_col_name='Week'):
    # 현재와 차주 월요일 간의 시간 차이를 구함.
    _now = dt.now()
    _time_delta = get_next_monday_time() - _now
    
    # 기준 time column에 시간 차를 더해줌.
    df['temp'] = df[df_column] + _time_delta
    df[week_col_name] = df['temp'].dt.week
    
    df.drop(['temp'], axis=1)
    
    return df

In [71]:
sp = gt.read_sample()
sp

   ITEM       TIME
0     A 2021-05-22
1     B 2021-05-21
2     C 2021-05-20
3     D 2021-05-19
4     E 2021-05-18
5     E 2021-05-17
6     E 2021-05-16
7     E 2021-05-15
8     E 2021-05-14
9     E 2021-05-13
10    E 2021-05-12

In [72]:
sp = get_week_info_from_now_on(sp, 'TIME', week_col_name='Week')

sp

<ipython-input-70-079c379f4776>:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df[week_col_name] = df['temp'].dt.week

   ITEM       TIME                       temp  Week
0     A 2021-05-22 2021-05-23 12:32:23.223026    20
1     B 2021-05-21 2021-05-22 12:32:23.223026    20
2     C 2021-05-20 2021-05-21 12:32:23.223026    20
3     D 2021-05-19 2021-05-20 12:32:23.223026    20
4     E 2021-05-18 2021-05-19 12:32:23.223026    20
5     E 2021-05-17 2021-05-18 12:32:23.223026    20
6     E 2021-05-16 2021-05-17 12:32:23.223026    20
7     E 2021-05-15 2021-05-16 12:32:23.223026    19
8     E 2021-05-14 2021-05-15 12:32:23.223026    19
9     E 2021-05-13 2021-05-14 12:32:23.223026    19
10    E 2021-05-12 2021-05-13 12:32:23.223026    19

In [77]:
sp = gt.read_sample()
sp.set_index(['ITEM'], inplace=True)

sp

           TIME
ITEM
NE1  2021-05-22
NE2  2021-05-21
NE3  2021-05-20
NE4  2021-05-19
NE5  2021-05-18
NE6  2021-05-17
NE7  2021-05-16
NE8  2021-05-15
NE9  2021-05-14
NE10 2021-05-13
NE11 2021-05-12

In [80]:
res = sp.loc['NE6', 'TIME']

res

Timestamp('2021-05-17 00:00:00')

In [81]:
sp['Crit'] = res

In [82]:
sp

           TIME       Crit
ITEM
NE1  2021-05-22 2021-05-17
NE2  2021-05-21 2021-05-17
NE3  2021-05-20 2021-05-17
NE4  2021-05-19 2021-05-17
NE5  2021-05-18 2021-05-17
NE6  2021-05-17 2021-05-17
NE7  2021-05-16 2021-05-17
NE8  2021-05-15 2021-05-17
NE9  2021-05-14 2021-05-17
NE10 2021-05-13 2021-05-17
NE11 2021-05-12 2021-05-17

In [97]:
sp['td'] = (sp['Crit'] - sp['TIME']).dt.total_seconds()

sp

           TIME       Crit        td
ITEM
NE1  2021-05-22 2021-05-17 -432000.0
NE2  2021-05-21 2021-05-17 -345600.0
NE3  2021-05-20 2021-05-17 -259200.0
NE4  2021-05-19 2021-05-17 -172800.0
NE5  2021-05-18 2021-05-17  -86400.0
NE6  2021-05-17 2021-05-17       0.0
NE7  2021-05-16 2021-05-17   86400.0
NE8  2021-05-15 2021-05-17  172800.0
NE9  2021-05-14 2021-05-17  259200.0
NE10 2021-05-13 2021-05-17  345600.0
NE11 2021-05-12 2021-05-17  432000.0

In [101]:
sp['TAT'] = dt.now() - pd.to_timedelta(sp['td'], unit='s')

sp

           TIME       Crit        td                        TAT
ITEM
NE1  2021-05-22 2021-05-17 -432000.0 2021-05-27 12:02:40.721090
NE2  2021-05-21 2021-05-17 -345600.0 2021-05-26 12:02:40.721090
NE3  2021-05-20 2021-05-17 -259200.0 2021-05-25 12:02:40.721090
NE4  2021-05-19 2021-05-17 -172800.0 2021-05-24 12:02:40.721090
NE5  2021-05-18 2021-05-17  -86400.0 2021-05-23 12:02:40.721090
NE6  2021-05-17 2021-05-17       0.0 2021-05-22 12:02:40.721090
NE7  2021-05-16 2021-05-17   86400.0 2021-05-21 12:02:40.721090
NE8  2021-05-15 2021-05-17  172800.0 2021-05-20 12:02:40.721090
NE9  2021-05-14 2021-05-17  259200.0 2021-05-19 12:02:40.721090
NE10 2021-05-13 2021-05-17  345600.0 2021-05-18 12:02:40.721090
NE11 2021-05-12 2021-05-17  432000.0 2021-05-17 12:02:40.721090