In [1]:
import pandas as pd, goldentiger as gt

In [2]:
df = pd.read_excel(gt.sample, sheetname='data')

df

  lot  value
0   A      1
1   A      2
2   B      3
3   B      4
4   C      5
5   C      6

In [9]:
res = df.groupby(['lot'])['value'].agg({'mean':lambda x: x.mean(), 'min':lambda x: x.min()})

res

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

     mean  min
lot
A     1.5    1
B     3.5    3
C     5.5    5

In [4]:
df['mean'] = df.groupby(['lot'])['value'].transform(lambda x: x.mean())

df

  lot  value  mean
0   A      1   1.5
1   A      2   1.5
2   B      3   3.5
3   B      4   3.5
4   C      5   5.5
5   C      6   5.5