In [1]:
import pandas as pd

In [4]:
import goldentiger as gt

In [5]:
import os

In [10]:
df = pd.read_excel(
    os.path.join(gt.sample),
    sheetname='data',
)

df

     lot step1 step2
0  AZ1XX     A     a
1  AZ1XX     A     b
2  AZ1XX     B     a
3  AZ1XX     B     b
4  AZ1XX     C     c

In [13]:
for i, row in df.iterrows():
    print('index {0} : {1}'.format(i, repr(i)))
    print('contents {0} : {1}'.format(row, repr(row)))

index 0 : 0
contents lot      AZ1XX
step1        A
step2        a
Name: 0, dtype: object : lot      AZ1XX
step1        A
step2        a
Name: 0, dtype: object
index 1 : 1
contents lot      AZ1XX
step1        A
step2        b
Name: 1, dtype: object : lot      AZ1XX
step1        A
step2        b
Name: 1, dtype: object
index 2 : 2
contents lot      AZ1XX
step1        B
step2        a
Name: 2, dtype: object : lot      AZ1XX
step1        B
step2        a
Name: 2, dtype: object
index 3 : 3
contents lot      AZ1XX
step1        B
step2        b
Name: 3, dtype: object : lot      AZ1XX
step1        B
step2        b
Name: 3, dtype: object
index 4 : 4
contents lot      AZ1XX
step1        C
step2        c
Name: 4, dtype: object : lot      AZ1XX
step1        C
step2        c
Name: 4, dtype: object