In [113]:
import pandas as pd

In [114]:
import goldentiger as gt

In [115]:
sp = pd.read_excel(
    r'E:\Codes\sample.xlsx',
    sheet_name='output',
)

In [116]:
sp

    Week LOT_WF ITEM_ID  Pass  Unnamed: 4
0   19.0      A       a   1.0         NaN
1   19.0      A       a   1.0         NaN
2   19.0      A       a   0.0         NaN
3    NaN      B       a   NaN         NaN
4    NaN      B       a   NaN         NaN
5   19.0      B       a   1.0         NaN
6    NaN      C       b   NaN         NaN
7   18.0      A       a   1.0         NaN
8   18.0      A       a   1.0         NaN
9   18.0      A       a   0.0         NaN
10  18.0      B       a   1.0         NaN
11  18.0      B       a   1.0         NaN
12  18.0      B       a   1.0         NaN
13  18.0      C       b   1.0         NaN

In [117]:
grp = sp.groupby(['LOT_WF','ITEM_ID'])[['Pass']]

for _n, _df in grp:
    print(_n)
    print(_df)

('A', 'a')
   Week LOT_WF ITEM_ID  Pass  Unnamed: 4
0  19.0      A       a   1.0         NaN
1  19.0      A       a   1.0         NaN
2  19.0      A       a   0.0         NaN
7  18.0      A       a   1.0         NaN
8  18.0      A       a   1.0         NaN
9  18.0      A       a   0.0         NaN
('B', 'a')
    Week LOT_WF ITEM_ID  Pass  Unnamed: 4
3    NaN      B       a   NaN         NaN
4    NaN      B       a   NaN         NaN
5   19.0      B       a   1.0         NaN
10  18.0      B       a   1.0         NaN
11  18.0      B       a   1.0         NaN
12  18.0      B       a   1.0         NaN
('C', 'b')
    Week LOT_WF ITEM_ID  Pass  Unnamed: 4
6    NaN      C       b   NaN         NaN
13  18.0      C       b   1.0         NaN

### sample 전체 count

In [118]:
res = sp.groupby(['LOT_WF','ITEM_ID'])['Pass'].aggregate(lambda x: x.count())

res

LOT_WF  ITEM_ID
A       a          6.0
B       a          4.0
C       b          1.0
Name: Pass, dtype: float64

### sample 중 Pass 가 1인 count

In [119]:
res = sp.groupby(['LOT_WF','ITEM_ID'])['Pass'].aggregate(lambda x: x[x==1].count())

res

LOT_WF  ITEM_ID
A       a          4.0
B       a          4.0
C       b          1.0
Name: Pass, dtype: float64

### sample 중 Pass 가 0인 count

In [120]:
res = sp.groupby(['LOT_WF','ITEM_ID'])['Pass'].aggregate(lambda x: x[x==0].count())

res

LOT_WF  ITEM_ID
A       a          2.0
B       a          0.0
C       b          0.0
Name: Pass, dtype: float64

### sample 중 Pass 의 합 구하기

In [121]:
res = sp.groupby(['LOT_WF','ITEM_ID'])['Pass'].aggregate(lambda x: x.sum())

res

LOT_WF  ITEM_ID
A       a          4.0
B       a          4.0
C       b          1.0
Name: Pass, dtype: float64

In [122]:
res = sp.groupby(['LOT_WF','ITEM_ID'], dropna=False)['Pass'].aggregate(lambda x: x.sum())

res

LOT_WF  ITEM_ID
A       a          4.0
B       a          4.0
C       b          1.0
Name: Pass, dtype: float64

In [123]:
res = sp.groupby(['LOT_WF','ITEM_ID', 'Week'], dropna=True)['Pass'].aggregate(lambda x: x.sum())

res

LOT_WF  ITEM_ID  Week
A       a        18.0    2.0
                 19.0    2.0
B       a        18.0    3.0
                 19.0    1.0
C       b        18.0    1.0
Name: Pass, dtype: float64

In [124]:
res = sp.groupby(['LOT_WF','ITEM_ID', 'Week'])['Pass'].aggregate(lambda x: x.count())

res

LOT_WF  ITEM_ID  Week
A       a        18.0    3.0
                 19.0    3.0
B       a        18.0    3.0
                 19.0    1.0
C       b        18.0    1.0
Name: Pass, dtype: float64

In [125]:
res = sp.groupby(['LOT_WF','ITEM_ID'])[['Pass']].agg(
    n_of_sample = pd.NamedAgg(column='Pass', aggfunc=lambda x: x.count()),
    n_of_pass = pd.NamedAgg(column='Pass', aggfunc=lambda x: x.sum()),
    pass_rate = pd.NamedAgg(column='Pass', aggfunc=lambda x: x.sum()/x.count()*100),
)
    

res

                n_of_sample  n_of_pass   pass_rate
LOT_WF ITEM_ID
A      a                6.0        4.0   66.666667
B      a                4.0        4.0  100.000000
C      b                1.0        1.0  100.000000

In [126]:
res = sp.groupby(['Week','ITEM_ID','LOT_WF'])[['Pass']].agg(
    n_of_sample = pd.NamedAgg(column='Pass', aggfunc=lambda x: x.count()),
    n_of_pass = pd.NamedAgg(column='Pass', aggfunc=lambda x: x.sum()),
    pass_rate = pd.NamedAgg(column='Pass', aggfunc=lambda x: x.sum()/x.count()*100),
)
    
res.reset_index()

   Week ITEM_ID LOT_WF  n_of_sample  n_of_pass   pass_rate
0  18.0       a      A          3.0        2.0   66.666667
1  18.0       a      B          3.0        3.0  100.000000
2  18.0       b      C          1.0        1.0  100.000000
3  19.0       a      A          3.0        2.0   66.666667
4  19.0       a      B          1.0        1.0  100.000000

In [127]:
r = res.reset_index()

r.loc[r['pass_rate']>80, 'Pass/Fail'] = "Pass"
r.loc[r['pass_rate']<=80, 'Pass/Fail'] = "Fail"

r

   Week ITEM_ID LOT_WF  n_of_sample  n_of_pass   pass_rate Pass/Fail
0  18.0       a      A          3.0        2.0   66.666667      Fail
1  18.0       a      B          3.0        3.0  100.000000      Pass
2  18.0       b      C          1.0        1.0  100.000000      Pass
3  19.0       a      A          3.0        2.0   66.666667      Fail
4  19.0       a      B          1.0        1.0  100.000000      Pass