<br>
# Multi Process ID 통합
<br>

In [1]:
import pandas as pd

In [5]:
df = pd.read_table(
    'multi processid.txt',
)

In [6]:
df

   NO     STEP  ITEM  KNGF  KNGG  KNGN
0   1  9.2 SP2  THK1  THK1  THK1  THK1
1   2  9.2 SP2  THK2  THK2  THK2  THK2
2   3  9.2 SP2  THK3  THK3  THK3  THK3
3   4  9.4 OCD   CD1   CD1   CD1   CD1
4   5  9.4 OCD   CD2   CD2   CD2   CD2
5   6  9.4 OCD   CD3   CD3   CD3   CD7
6   7  9.4 OCD   CD4   CD4   CD4   CD4
7   8  9.4 OCD   CD5   CD5   CD5   CD5
8   9  9.4 OCD   CD6   CD6   CD6   NaN
9  10  9.4 OCD   CD7   CD7   CD7  CD14