# Pandas

In [1]:
import pandas as pd

from pprint import pprint

# convert df to dict & reverse

In [2]:
df = pd.DataFrame({
    'A':['a','b','c'],
    'B':[1,2,3],
})

In [3]:
df

   A  B
0  a  1
1  b  2
2  c  3

In [4]:
_dic = df.to_dict(orient='records')

In [5]:
pprint(_dic)

[{'A': 'a', 'B': 1}, {'A': 'b', 'B': 2}, {'A': 'c', 'B': 3}]

In [6]:
_df = pd.DataFrame.from_dict(_dic)

In [7]:
_df

   A  B
0  a  1
1  b  2
2  c  3

# options on to_dict orient

## orient = dict

In [8]:
conv = df.to_dict(orient='dict')
conv

{'A': {0: 'a', 1: 'b', 2: 'c'}, 'B': {0: 1, 1: 2, 2: 3}}

## orient = list

In [9]:
conv = df.to_dict(orient='list')
conv

{'A': ['a', 'b', 'c'], 'B': [1, 2, 3]}

## orient = series

In [10]:
conv = df.to_dict(orient='series')
conv

{'A': 0    a
 1    b
 2    c
 Name: A, dtype: object, 'B': 0    1
 1    2
 2    3
 Name: B, dtype: int64}

## orient = split

In [11]:
conv = df.to_dict(orient='split')
conv

{'columns': ['A', 'B'],
 'data': [['a', 1], ['b', 2], ['c', 3]],
 'index': [0, 1, 2]}

## orient = records

In [12]:
conv = df.to_dict(orient='records')
conv

[{'A': 'a', 'B': 1}, {'A': 'b', 'B': 2}, {'A': 'c', 'B': 3}]

## orient = index

In [13]:
conv = df.to_dict(orient='index')
conv

{0: {'A': 'a', 'B': 1}, 1: {'A': 'b', 'B': 2}, 2: {'A': 'c', 'B': 3}}

<br>
# concat df

In [14]:
df1 = pd.DataFrame(
    {
        'A':[1],
        'B':[1],
    }
)

In [15]:
df2 = pd.DataFrame(
    {
        'A':[2],
        'B':['a'],
    }
)

In [16]:
df_conc = pd.concat([df1, df2])

## concat is performed by it's column names
## dtype of columns set properly

In [19]:
df_conc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 0
Data columns (total 2 columns):
A    2 non-null int64
B    2 non-null object
dtypes: int64(1), object(1)
memory usage: 48.0+ bytes

In [20]:
df_conc

   A  B
0  1  1
0  2  a