# pymongo

## python binding for MongoDB
<br>

# Table of Contets

### 1. **Connection**

- [Run MongoDB Server](#run_server)
- [Connect to MongoDB](#connection)

### 2. Basic Usage

- [Create](#create)
- [Read](#read)
- [Update](#update)
- [Delete](#delete)

### 3. Query

- [Query](#query)
- [Query by chunk](#query_by_chunk)

### 4. Indexing

- [Indexing](#index)

### 5. Sorting & Limit

- [Sorting](#sort)
- [Limit](#limit)

### 6. MapReduce

- [Basic MapReduce](#basic_mapreduce)

### 7. Working with Pandas

- [MongoDB cursor to pandas df](#mongodb_cursor_to_df)

### 8. ETC

- [Total Count of collections](#count_collection)

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

---

<a id="run_server"></a>
# Run MongoDB Server

### run mongodb server command
"C:\Program Files\MongoDB\Server\3.4\bin\mongod.exe" --dbpath "C:\Codes\mongodb"

In [3]:
import pymongo
from pymongo import MongoClient

from pprint import pprint

---

<a id="connection"></a>
## Connect to MongoDB

### Create Client

In [2]:
mongo_client = MongoClient('localhost',27017)

In [3]:
mongo_client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### connect to DB

In [4]:
mongo_db = mongo_client['test_db']

In [5]:
mongo_db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_db')

### connect to collection

In [6]:
mongo_collection = mongo_db['node_sample']

In [7]:
mongo_collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_db'), 'node_sample')

---

<a id="read"></a>
## read collection data

**using find_one**

In [8]:
data = mongo_collection.find_one()

In [9]:
# return 1st document of collection
data

{'_id': ObjectId('5a1297c4aeea91055838099c'),
 'comment': 'new comment',
 'order': 2,
 'title': 'also changed'}

**using find**

In [10]:
data = mongo_collection.find()

In [11]:
data

In [12]:
for datum in data:
    print(type(datum))
    pprint(datum)

<class 'dict'>
{'_id': ObjectId('5a1297c4aeea91055838099c'),
 'comment': 'new comment',
 'order': 2,
 'title': 'also changed'}
<class 'dict'>
{'_id': ObjectId('5a1297c4aeea91055838099d'),
 'comment': 'value3',
 'order': 3,
 'title': 'whoever'}
<class 'dict'>
{'_id': ObjectId('5a1a226baeea9118e02d64cc'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}
<class 'dict'>
{'_id': ObjectId('5a1a5a595b005df5c002db3c'),
 'comment': 'insert by insert_many',
 'order': 1,
 'title': 'no matter'}
<class 'dict'>
{'_id': ObjectId('5a1a5a635b005df5c002db3f'),
 'comment': 'insert by insert_many',
 'order': 1,
 'title': 'no matter what ????'}

<br>

---

<a id="query"></a>
## Query

In [13]:
query = {
    'order':2,
}

data = mongo_collection.find(query)

In [14]:
data

In [15]:
for datum in data:
    print(type(datum))
    pprint(datum)

<class 'dict'>
{'_id': ObjectId('5a1297c4aeea91055838099c'),
 'comment': 'new comment',
 'order': 2,
 'title': 'also changed'}

query with **multiple condition**

In [16]:
query = {
    '$and':[
        {'order':2},
        {'title':'whenever'},
    ]
}

data = mongo_collection.find_one(query)

In [17]:
pprint(data)

None

query only **typical column**

In [18]:
query = {    
    'order':2,
}

cols = {'order':1, 'comment':1}

data = mongo_collection.find_one(query, cols)

id pk field added by default

In [19]:
pprint(data)

{'_id': ObjectId('5a1297c4aeea91055838099c'),
 'comment': 'new comment',
 'order': 2}

In [20]:
query = {    
    'order':2,
}

# force remove _id field
cols = {
    '_id':0,
    'order':1, 
    'comment':1,
}

data = mongo_collection.find_one(query, cols)

In [21]:
data

{'comment': 'new comment', 'order': 2}

<br>

<a id="query_by_chunk"></a>
## Query by chunk

using combination of **skip() + limit()**

In [18]:
start = 0
step_interval = 2
end = step_interval

enum = 1

In [19]:
mongo = MongoClient('localhost',27017)['test_db']['big_data_index']

In [20]:
for i in range(enum):
    cursor = mongo.find({},{'_id':0}).sort('No', pymongo.DESCENDING)[start:end]

    for cur in cursor:
        pprint(cur)

    start += step_interval
    end += step_interval

{'No': 31536000,
 'Time': '2017-12-31 23:59:59',
 'col_0': 0.17535444493912622,
 'col_1': 0.023900389414655776,
 'col_10': 0.5668437195981174,
 'col_11': 0.14182374093845063,
 'col_12': 0.3796824075676285,
 'col_13': 0.33529249901515745,
 'col_14': 0.7793182214862404,
 'col_15': 0.6408007165917582,
 'col_16': 0.963622319989223,
 'col_17': 0.9297589192851143,
 'col_18': 0.8154544675775005,
 'col_19': 0.21134385346424345,
 'col_2': 0.8137742048343871,
 'col_20': 0.7317017139511847,
 'col_21': 0.6832452841176019,
 'col_22': 0.317448697303793,
 'col_23': 0.7234930452143844,
 'col_24': 0.26457078013454727,
 'col_25': 0.9735076507054384,
 'col_26': 0.33505841686704263,
 'col_27': 0.5135390685998092,
 'col_28': 0.22630240664595724,
 'col_29': 0.8991647360472262,
 'col_3': 0.8590904842627859,
 'col_30': 0.9675513548107982,
 'col_31': 0.34082274613374997,
 'col_32': 0.5125245421560821,
 'col_33': 0.21402334015228952,
 'col_34': 0.9524033238804928,
 'col_35': 0.42844830941016776,
 'col_36': 0.6985836846652496,
 'col_37': 0.6176892131279633,
 'col_38': 0.7918660089821172,
 'col_39': 0.680367596215509,
 'col_4': 0.5508703519940688,
 'col_5': 0.3066271324448586,
 'col_6': 0.25922170337789974,
 'col_7': 0.03609655011596069,
 'col_8': 0.9087711838675312,
 'col_9': 0.028659498167377007}
{'No': 31535999,
 'Time': '2017-12-31 23:59:58',
 'col_0': 0.37383244024561246,
 'col_1': 0.42348382355712555,
 'col_10': 0.38511589245902833,
 'col_11': 0.7900729435223574,
 'col_12': 0.7797723344739943,
 'col_13': 0.7680408493187096,
 'col_14': 0.06421151281018778,
 'col_15': 0.36181274455468027,
 'col_16': 0.3942944495411559,
 'col_17': 0.6619023415951352,
 'col_18': 0.02522772666360218,
 'col_19': 0.9672987989735813,
 'col_2': 0.009640796608533453,
 'col_20': 0.420360950829356,
 'col_21': 0.9798539955869934,
 'col_22': 0.25589621426994513,
 'col_23': 0.8944783570440642,
 'col_24': 0.7410403559338169,
 'col_25': 0.21065522637430334,
 'col_26': 0.9886111173975884,
 'col_27': 0.66345873331022,
 'col_28': 0.3657108129929725,
 'col_29': 0.3618827808793377,
 'col_3': 0.7177652447499161,
 'col_30': 0.6034802324904593,
 'col_31': 0.8241377722969326,
 'col_32': 0.34000431349893534,
 'col_33': 0.056142723016677,
 'col_34': 0.9744020165266504,
 'col_35': 0.657390976573739,
 'col_36': 0.47147503607067764,
 'col_37': 0.8633898605619421,
 'col_38': 0.4891747467651997,
 'col_39': 0.8580393815090263,
 'col_4': 0.11393578429741524,
 'col_5': 0.35629124999754247,
 'col_6': 0.37156413756503615,
 'col_7': 0.9146040502429393,
 'col_8': 0.9520495363812878,
 'col_9': 0.7294957092855364}

<br>

---

<a id="create"></a>
## Create

Insert using **insert_one**

In [22]:
document = {
    'order':4,
    'title':'no matter',
    'comment':'insert by insert_one',
}

mongo_collection.insert_one(document)

Bulk insert using **insert_many**

In [23]:
documents = [
    {
    'order':5,
    'title':'no matter',
    'comment':'insert by insert_many',
    },
    {
    'order':6,
    'title':'no matter',
    'comment':'insert by insert_many',
    },
]

In [24]:
type(documents)

list

In [25]:
mongo_collection.insert_many(documents)

## Modify document

In [26]:
document = mongo_collection.find_one({'order':2})

In [27]:
document

{'_id': ObjectId('5a1297c4aeea91055838099c'),
 'comment': 'new comment',
 'order': 2,
 'title': 'also changed'}

only change **typical parts**

In [28]:
mongo_collection.update(
    {'order':2},
    {'$set':
        {'comment':'new comment', 'title': 'also changed'},        
    },
)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  after removing the cwd from sys.path.

{'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}

**replace document**

replace = {
    'order':1.0,
    'title':'new title',
    'comment':'new comment',
}

mongo_collection.update(
    {'order':1},
    replace,
    upsert=True,   # when upser=True, creates document when query result is None
)

---

<a id="delete"></a>
# Delete

using **delete_one**

In [30]:
query = {
    'order':1.1,
}

mongo_collection.delete_one(query)

In [31]:
data = mongo_collection.find()

for datum in data:
    pprint(datum)

{'_id': ObjectId('5a1297c4aeea91055838099c'),
 'comment': 'new comment',
 'order': 2,
 'title': 'also changed'}
{'_id': ObjectId('5a1297c4aeea91055838099d'),
 'comment': 'value3',
 'order': 3,
 'title': 'whoever'}
{'_id': ObjectId('5a1a226baeea9118e02d64cc'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}
{'_id': ObjectId('5a1a5a595b005df5c002db3c'),
 'comment': 'new comment',
 'order': 1.0,
 'title': 'new title'}
{'_id': ObjectId('5a1a5a635b005df5c002db3f'),
 'comment': 'insert by insert_many',
 'order': 1,
 'title': 'no matter what ????'}
{'_id': ObjectId('5a1a9120aeea912a84277acf'),
 'comment': 'insert by insert_one',
 'order': 4,
 'title': 'no matter'}
{'_id': ObjectId('5a1a9120aeea912a84277ad0'),
 'comment': 'insert by insert_many',
 'order': 5,
 'title': 'no matter'}
{'_id': ObjectId('5a1a9120aeea912a84277ad1'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}

using **delete_many**

In [32]:
query = {
    '$and':[
        {'order':{'$gte':4}},
        {'order':{'$lte':5}},
    ]
}

mongo_collection.delete_many(query)

In [33]:
data = mongo_collection.find()

for datum in data:
    pprint(datum)

{'_id': ObjectId('5a1297c4aeea91055838099c'),
 'comment': 'new comment',
 'order': 2,
 'title': 'also changed'}
{'_id': ObjectId('5a1297c4aeea91055838099d'),
 'comment': 'value3',
 'order': 3,
 'title': 'whoever'}
{'_id': ObjectId('5a1a226baeea9118e02d64cc'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}
{'_id': ObjectId('5a1a5a595b005df5c002db3c'),
 'comment': 'new comment',
 'order': 1.0,
 'title': 'new title'}
{'_id': ObjectId('5a1a5a635b005df5c002db3f'),
 'comment': 'insert by insert_many',
 'order': 1,
 'title': 'no matter what ????'}
{'_id': ObjectId('5a1a9120aeea912a84277ad1'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}

---

<a id="count_collection"></a>
## Total Count of collections

In [34]:
mongo_collection.count()

6

<a id="sort"></a>
## Sorting

In [35]:
data = mongo_collection.find().sort('order', pymongo.ASCENDING)

In [36]:
for datum in data:
    pprint(datum)

{'_id': ObjectId('5a1a5a595b005df5c002db3c'),
 'comment': 'new comment',
 'order': 1.0,
 'title': 'new title'}
{'_id': ObjectId('5a1a5a635b005df5c002db3f'),
 'comment': 'insert by insert_many',
 'order': 1,
 'title': 'no matter what ????'}
{'_id': ObjectId('5a1297c4aeea91055838099c'),
 'comment': 'new comment',
 'order': 2,
 'title': 'also changed'}
{'_id': ObjectId('5a1297c4aeea91055838099d'),
 'comment': 'value3',
 'order': 3,
 'title': 'whoever'}
{'_id': ObjectId('5a1a226baeea9118e02d64cc'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}
{'_id': ObjectId('5a1a9120aeea912a84277ad1'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}

In [37]:
data = mongo_collection.find().sort('order', pymongo.DESCENDING)

In [38]:
for datum in data:
    pprint(datum)

{'_id': ObjectId('5a1a9120aeea912a84277ad1'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}
{'_id': ObjectId('5a1a226baeea9118e02d64cc'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}
{'_id': ObjectId('5a1297c4aeea91055838099d'),
 'comment': 'value3',
 'order': 3,
 'title': 'whoever'}
{'_id': ObjectId('5a1297c4aeea91055838099c'),
 'comment': 'new comment',
 'order': 2,
 'title': 'also changed'}
{'_id': ObjectId('5a1a5a635b005df5c002db3f'),
 'comment': 'insert by insert_many',
 'order': 1,
 'title': 'no matter what ????'}
{'_id': ObjectId('5a1a5a595b005df5c002db3c'),
 'comment': 'new comment',
 'order': 1.0,
 'title': 'new title'}

<a id="limit"></a>
## Limit

In [39]:
data = mongo_collection.find().sort('order', pymongo.DESCENDING).limit(3)

In [40]:
for datum in data:
    pprint(datum)

{'_id': ObjectId('5a1a9120aeea912a84277ad1'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}
{'_id': ObjectId('5a1a226baeea9118e02d64cc'),
 'comment': 'insert by insert_many',
 'order': 6,
 'title': 'no matter'}
{'_id': ObjectId('5a1297c4aeea91055838099d'),
 'comment': 'value3',
 'order': 3,
 'title': 'whoever'}

---

<a id="index"></a>
# Indexing

In [41]:
mongo_collection.index_information()

{'_id_': {'key': [('_id', 1)], 'ns': 'test_db.node_sample', 'v': 2},
 'order_1_title_1_comment_1': {'key': [('order', 1),
   ('title', 1),
   ('comment', 1)],
  'ns': 'test_db.node_sample',
  'v': 2}}

### set Index of collection

In [42]:
result = mongo_collection.create_index(
    [
        ('order', pymongo.ASCENDING),
        ('title', pymongo.ASCENDING),
        ('comment', pymongo.ASCENDING),
    ]
)

### get index information from collection

In [43]:
pprint(mongo_collection.index_information())

{'_id_': {'key': [('_id', 1)], 'ns': 'test_db.node_sample', 'v': 2},
 'order_1_title_1_comment_1': {'key': [('order', 1),
                                       ('title', 1),
                                       ('comment', 1)],
                               'ns': 'test_db.node_sample',
                               'v': 2}}

---

<a id="basic_mapreduce"></a>
# Basic MapReduce

In [44]:
from bson.code import Code

In [45]:
map = Code("function () {"
           "  this.order.forEach(function(z) {"
           "    emit(z, 1);"
           "  });"
           "}")

In [46]:
map

Code('function () {  this.order.forEach(function(z) {    emit(z, 1);  });}', None)

In [47]:
reduce = Code("function (key, values) {"
              "  var total = 0;"
              "  for (var i = 0; i < values.length; i++) {"
              "    total += values[i];"
              "  }"
              "  return total;"
              "}")

In [48]:
reduce

Code('function (key, values) {  var total = 0;  for (var i = 0; i < values.length; i++) {    total += values[i];  }  return total;}', None)

### mapreduce example on mongo shell

In [49]:
"""
function map() {emit(this.order, this.comment)}
function reduce(key, value) { return value.join() }

db.node_sample.mapReduce(map, reduce, {out: {inline:1}});
"""

'\nfunction map() {emit(this.order, this.comment)}\nfunction reduce(key, value) { return value.join() }\n\ndb.node_sample.mapReduce(map, reduce, {out: {inline:1}});\n'

---

<a id="mongodb_cursor_to_df"></a>
# MongoDB cursor to pandas df

In [57]:
import pandas as pd

In [68]:
mongo_coll = mongo_collection.find()

### mongodb cursor object to list of dictionary

In [69]:
mongo_coll_list = list(mongo_coll)

In [74]:
mongo_coll_list[:3]

[{'_id': ObjectId('5a1297c4aeea91055838099c'),
  'comment': 'new comment',
  'order': 2,
  'title': 'also changed'},
 {'_id': ObjectId('5a1297c4aeea91055838099d'),
  'comment': 'value3',
  'order': 3,
  'title': 'whoever'},
 {'_id': ObjectId('5a1a226baeea9118e02d64cc'),
  'comment': 'insert by insert_many',
  'order': 6,
  'title': 'no matter'}]

In [71]:
df = pd.DataFrame(mongo_coll_list)

In [72]:
df

                        _id                comment  order                title
0  5a1297c4aeea91055838099c            new comment    2.0         also changed
1  5a1297c4aeea91055838099d                 value3    3.0              whoever
2  5a1a226baeea9118e02d64cc  insert by insert_many    6.0            no matter
3  5a1a5a595b005df5c002db3c            new comment    1.0            new title
4  5a1a5a635b005df5c002db3f  insert by insert_many    1.0  no matter what ????
5  5a1a9120aeea912a84277ad1  insert by insert_many    6.0            no matter