# List

---

### 1. Basic Methods

- [create](#create)
- [read](#read)
- [update](#update)
- [delete](#delete)

### 2. [Useful Methods](#useful_methods)

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

---

<a id="create"></a>
## Create

In [8]:
mylist = [1,2,3]

In [10]:
mylist

[1, 2, 3]

In [6]:
mylist2 = list([1,2,3])

In [7]:
mylist2

[1, 2, 3]

In [11]:
mylist == mylist2

True

<a id="read"></a>
## Read

In [14]:
from datetime import datetime as dt

In [15]:
sample = [1, 2, 3.3, 'abc', dt(2017,7,1,3)]

In [17]:
for it in sample:
    print('{0} - type: {1}'.format(type(it), it))

<class 'int'> - type: 1
<class 'int'> - type: 2
<class 'float'> - type: 3.3
<class 'str'> - type: abc
<class 'datetime.datetime'> - type: 2017-07-01 03:00:00

## indexing

In [18]:
sample[0]

1

In [19]:
sample[3]

'abc'

In [20]:
sample[4]

datetime.datetime(2017, 7, 1, 3, 0)

<a id="update"></a>
## Update

In [21]:
sample

[1, 2, 3.3, 'abc', datetime.datetime(2017, 7, 1, 3, 0)]

In [22]:
sample[2] = 'changed as str!'

In [23]:
sample

[1, 2, 'changed as str!', 'abc', datetime.datetime(2017, 7, 1, 3, 0)]

<a id="delete"></a>
## Delete

**delete by location, last element**

In [36]:
sample = [1, 2, 3.3, 'abc', dt(2017,7,1,3)]

In [37]:
del sample[len(sample)-1]

In [38]:
sample

[1, 2, 3.3, 'abc']

In [39]:
del sample[1]   # delete

In [43]:
sample

[1, 3.3, 'abc']

**remove: delete by value**

In [51]:
sample = [1, 2, 3.3, 'abc', dt(2017,7,1,3)]

In [52]:
sample.remove('abc')

In [53]:
sample

[1, 2, 3.3, datetime.datetime(2017, 7, 1, 3, 0)]

### pop: delete last element and return it

In [54]:
sample = [1, 2, 3.3, 'abc', dt(2017,7,1,3)]

In [56]:
for i in range(len(sample)):
    temp = sample.pop()
    
    print('{0}th : element: {1}'.format(i, temp))

0th : element: 2017-07-01 03:00:00
1th : element: abc
2th : element: 3.3
3th : element: 2
4th : element: 1

In [58]:
sample  # empty list

[]

---

<a id="useful_methods"></a>
# Useful Methods

### add new elements

**extend** : flatten chaing elements

In [21]:
list_a = [1,2,3]
list_b = [4,5,6]

In [22]:
list_a.extend(list_b)

list_a

[1, 2, 3, 4, 5, 6]

**append**
: just add list from elements

In [59]:
list_a = [1,2,3]
list_b = [4,5,6]

In [60]:
list_a.append(list_b)

list_a

[1, 2, 3, [4, 5, 6]]

<a id="reverse"></a>
## Reverse

In [67]:
list_a = [1,2,3]
list_b = [4,5,6]

In [68]:
list_a.reverse()

---

# Iterable check

- <a href="https://stackoverflow.com/questions/1952464/in-python-how-do-i-determine-if-an-object-is-iterable">Reference</a>

In [24]:
sample = [
    {'val1':1, 'val2':'abc'},
    [1,2,3],
    (1,2),
    'my name is earl',
    1,
    1.234,
]

In [26]:
# check using hasattr

for it in sample:
    if hasattr(it, '__iter__'):
        print('Iterable : {0}'.format(it))
    else:
        print('Not Iterable : {0}'.format(it))

Iterable : {'val1': 1, 'val2': 'abc'}
Iterable : [1, 2, 3]
Iterable : (1, 2)
Iterable : my name is earl
Not Iterable : 1
Not Iterable : 1.234

In [27]:
import collections

In [28]:
for it in sample:
    if isinstance(it, collections.Iterable):
        print('Iterable : {0}'.format(it))
    else:
        print('Not Iterable : {0}'.format(it))

Iterable : {'val1': 1, 'val2': 'abc'}
Iterable : [1, 2, 3]
Iterable : (1, 2)
Iterable : my name is earl
Not Iterable : 1
Not Iterable : 1.234

In [1]:
inp = ['a','b']

In [2]:
inp.append('c')

In [3]:
inp

['a', 'b', 'c']