# Time

## Using datetime & datetimeutil

<br>
# Table of Contents

1. **datetime**
    1. [methods](#datetime_class)
    2. [date & time](#date_time)
    3. [TimeDelta](#date_td)
2. **dateutil**
    1. [relative timedelta](#dateutil_class)
3. [**Convert str to time & vice versa**](#conversion)








<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<a id="conversion"></a>
<br>
# Convert str to time & vice versa

In [1]:
from datetime import datetime as dt, timedelta as td

import time

# datetime now

In [2]:
now = dt.now()

In [3]:
now

datetime.datetime(2017, 12, 3, 7, 41, 15, 863225)

In [4]:
print('{}-{}-{} {}:{}:{}'.format(now.year, now.month, now.day, now.hour, now.minute, now.second))

2017-12-3 7:41:15

<br>
# convert datetime to string time

<br>
<h2 style="color:blue;">using strftime</h2>

In [5]:
stringtime = dt.now().strftime("%Y-%m-%d %H:%M:%S")

In [6]:
stringtime

'2017-12-03 07:41:15'

# convert string time to datetime

<br>
<h2 style="color:blue;">using strptime</h2>

In [7]:
str_time = '2017-11-26 08:24:26'

In [8]:
time_obj = dt.strptime(str_time, "%Y-%m-%d %H:%M:%S")

In [9]:
time_obj

datetime.datetime(2017, 11, 26, 8, 24, 26)

<a id="timedelta"></a>
<br>
# TimeDelta

In [10]:
now = dt.now()

In [11]:
now

datetime.datetime(2017, 12, 3, 7, 41, 16, 53745)

## timedelta example

In [12]:
time_shifted = now + td(days=1)

In [13]:
time_shifted

datetime.datetime(2017, 12, 4, 7, 41, 16, 53745)

## timedelta with multiple args

In [14]:
time_shifted2 = now + td(days=1, hours=12, minutes=5, seconds=15)

In [15]:
time_shifted2

datetime.datetime(2017, 12, 4, 19, 46, 31, 53745)

<a id="date_td"></a>
<br>
# datetime TimeDelta

In [60]:
dt1 = dt(2016, 2, 19, 14)
dt2 = dt(2016, 1, 2, 12)

In [61]:
td = dt1 - dt2

In [62]:
td

datetime.timedelta(48, 7200)

## Properties

In [63]:
td.days

48

In [64]:
td.seconds

7200

In [65]:
td.microseconds

0

## methods

In [67]:
td.total_seconds()

4154400.0

<a id="datetime_class"></a>
<br>
# datetime

# methods

## <a href="https://datascienceschool.net/view-notebook/465066ac92ef4da3b0aba32f76d9750a/">Tutorial Link</a>

In [16]:
now = dt.now()

## weekday method

In [17]:
# weekday(): 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
weekday = now.weekday()

In [18]:
weekday

6

<a id="date_time"></a>
<br>
# date & time class

## date class

In [53]:
# 날짜 정보만 가지는 datetime.date 클래스 객체 반환
_date = now.date()

In [54]:
_date

datetime.date(2017, 12, 3)

## time class

In [21]:
# time(): 시간 정보만 가지는 datetime.time 클래스 객체 반환
_time = now.time()

In [22]:
_time

datetime.time(7, 41, 16, 173071)

## combine date & time class

In [55]:
new_dt = dt.combine(_date, _time)

In [56]:
type(new_dt)

datetime.datetime

In [58]:
new_dt

datetime.datetime(2017, 12, 3, 13, 17, 55)

<a id="dateutil_class"></a>
<br>
# dateutil

<h2 style="color:blue;">format is not needed when parse string to datetime</h2>

In [23]:
from dateutil.parser import parse

In [24]:
_time = parse('2016-04-16 18:52:26')

In [25]:
_time

datetime.datetime(2016, 4, 16, 18, 52, 26)

In [26]:
_time2 = parse("Apr 16, 2016 04:05:32 PM")

In [27]:
_time2

datetime.datetime(2016, 4, 16, 16, 5, 32)

In [28]:
_time3 = parse('6/7/2016')

In [29]:
_time3

datetime.datetime(2016, 6, 7, 0, 0)

<a id="r_t_delta"></a>
<br>
# relative timedelta

In [30]:
from dateutil.relativedelta import relativedelta

In [31]:
now = dt.now()
now

datetime.datetime(2017, 12, 3, 7, 41, 16, 515505)

In [32]:
res = now - relativedelta(years=1, months=1, days=1, hours=1, minutes=1, seconds=1)

In [33]:
type(res)

datetime.datetime

In [34]:
now

datetime.datetime(2017, 12, 3, 7, 41, 16, 515505)

In [35]:
res

datetime.datetime(2016, 11, 2, 6, 40, 15, 515505)