# Time manipulation

In [13]:
from datetime import datetime as dt, timedelta as td

import time

# current time

In [2]:
now = dt.now()

In [3]:
now

datetime.datetime(2017, 11, 26, 8, 16, 49, 116999)

In [8]:
print('{}-{}-{} {}:{}:{}'.format(now.year, now.month, now.day, now.hour, now.minute, now.second))

2017-11-26 8:16:49

# convert datetime to string time

## using strftime

In [15]:
stringtime = dt.now().strftime("%Y-%m-%d %H:%M:%S")

In [16]:
stringtime

'2017-11-26 08:30:17'

# convert string time to datetime

## using strptime

In [22]:
str_time = '2017-11-26 08:24:26'

In [24]:
time_obj = dt.strptime(str_time, "%Y-%m-%d %H:%M:%S")

In [25]:
time_obj

datetime.datetime(2017, 11, 26, 8, 24, 26)



# Apply TimeDelta to datetime

In [31]:
now = dt.now()

In [32]:
now

datetime.datetime(2017, 11, 26, 8, 38, 7, 154842)

## timedelta example

In [29]:
time_shifted = now + td(days=1)

In [30]:
time_shifted

datetime.datetime(2017, 11, 27, 8, 37, 23, 267165)

## timedelta with multiple args

In [34]:
time_shifted2 = now + td(days=1, hours=12, minutes=5, seconds=15)

In [35]:
time_shifted2

datetime.datetime(2017, 11, 27, 20, 43, 22, 154842)

# TimeZone

# datetime methods

## <a href="https://datascienceschool.net/view-notebook/465066ac92ef4da3b0aba32f76d9750a/">Tutorial Link</a>

In [37]:
now = dt.now()

## weekday method

In [40]:
# weekday(): 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
weekday = now.weekday()

In [39]:
weekday

6

## date method

In [44]:
# 날짜 정보만 가지는 datetime.date 클래스 객체 반환
_date = now.date()

In [43]:
_date

datetime.date(2017, 11, 26)

## time method

In [46]:
# time(): 시간 정보만 가지는 datetime.time 클래스 객체 반환
_time = now.time()

In [48]:
_time

datetime.time(9, 10, 53, 244262)

# dateutil package

## format is not needed when parse string to datetime

In [50]:
from dateutil.parser import parse

In [51]:
_time = parse('2016-04-16 18:52:26')

In [52]:
_time

datetime.datetime(2016, 4, 16, 18, 52, 26)

In [53]:
_time2 = parse("Apr 16, 2016 04:05:32 PM")

In [54]:
_time2

datetime.datetime(2016, 4, 16, 16, 5, 32)

In [55]:
_time3 = parse('6/7/2016')

In [56]:
_time3

datetime.datetime(2016, 6, 7, 0, 0)

# TimeDelta

In [58]:
dt1 = dt(2016, 2, 19, 14)
dt2 = dt(2016, 1, 2, 13)

In [59]:
td = dt1 - dt2

In [67]:
td

datetime.timedelta(48, 3600)

## Properties

In [61]:
td.days

48

In [62]:
td.seconds

3600

In [68]:
td.microseconds

0

## methods

In [71]:
td.total_seconds()

4150800.0