<br>
# Multi-Step POR selection by Pivot
<br>

In [1]:
import pandas as pd

In [25]:
df = pd.read_table(
    'multi-step sample.txt',
#     index_col=[
#         'NO',
#         'STEP',
#     ],
)

In [26]:
df

   NO        STEP PPID
0   1     9.2 SP2    A
1   2     9.4 OCD    B
2   3     9.5 OCD    C
3   4  9.5 Verity   D1
4   5  9.5 Verity   D2
5   6     9.5 SP3    F
6   7     9.7 OCD    G
7   8  9.7 Verity    H

In [27]:
df['res'] = df.groupby(['STEP'])['PPID'].agg(lambda x: x.unique())

df

   NO        STEP PPID  res
0   1     9.2 SP2    A  NaN
1   2     9.4 OCD    B  NaN
2   3     9.5 OCD    C  NaN
3   4  9.5 Verity   D1  NaN
4   5  9.5 Verity   D2  NaN
5   6     9.5 SP3    F  NaN
6   7     9.7 OCD    G  NaN
7   8  9.7 Verity    H  NaN

# Pivot to get unique values

In [30]:
res = pd.pivot_table(
    df,
    index=['STEP'],
    values='PPID',
    aggfunc= lambda x: x.unique(),
)


res

                PPID
STEP
9.2 SP2            A
9.4 OCD            B
9.5 OCD            C
9.5 SP3            F
9.5 Verity  [D1, D2]
9.7 OCD            G
9.7 Verity         H

## identify each rows type

In [33]:
for val in res['PPID']:
    print('{0} - {1}'.format(val, type(val)))

A - <class 'str'>
B - <class 'str'>
C - <class 'str'>
F - <class 'str'>
['D1' 'D2'] - <class 'numpy.ndarray'>
G - <class 'str'>
H - <class 'str'>