In [1]:
import pandas as pd

In [2]:
df = pd.read_table(
    r'C:\Codes\Snippets\Correlator\sample.txt',
)

In [3]:
df

   lot_wf   step PPID
0       A  kz000    A
1       B  kz000    A
2       C  kz000    A
3       D  kz000    A
4       E  kz000    B
5       F  kz000    B
6       G  kz000    C
7       H  kz000    C
8       I  kz000    C
9       A  kz100    P
10      B  kz100    P
11      C  kz100    P
12      D  kz100    P
13      E  kz100    P
14      F  kz100    P
15      G  kz100    P
16      H  kz100    P
17      I  kz100    K

In [33]:
res = eval("df[df['step'].str.contains('kz')]")
res

   lot_wf   step PPID
0       A  kz000    A
1       B  kz000    A
2       C  kz000    A
3       D  kz000    A
4       E  kz000    B
5       F  kz000    B
6       G  kz000    C
7       H  kz000    C
8       I  kz000    C
9       A  kz100    P
10      B  kz100    P
11      C  kz100    P
12      D  kz100    P
13      E  kz100    P
14      F  kz100    P
15      G  kz100    P
16      H  kz100    P
17      I  kz100    K

In [39]:
_steps = ['B']

res = eval("df[df['PPID'].isin(_steps)]")
res

  lot_wf   step PPID
4      E  kz000    B
5      F  kz000    B

In [ ]:
exp = [
    "df[df['PPID'].isin(['A'])]",
    "df[df['step].str.contains(['kz])]"
]


for i, exp in enumerate(exp):
    print('{0}')