# Time manipulation

In [1]:
from datetime import datetime as dt, timedelta as td

import time

# current time

In [2]:
now = dt.now()

In [3]:
now

datetime.datetime(2017, 11, 26, 18, 33, 57, 960575)

In [4]:
print('{}-{}-{} {}:{}:{}'.format(now.year, now.month, now.day, now.hour, now.minute, now.second))

2017-11-26 18:33:57

# convert datetime to string time

## using strftime

In [5]:
stringtime = dt.now().strftime("%Y-%m-%d %H:%M:%S")

In [6]:
stringtime

'2017-11-26 18:33:58'

# convert string time to datetime

## using strptime

In [7]:
str_time = '2017-11-26 08:24:26'

In [8]:
time_obj = dt.strptime(str_time, "%Y-%m-%d %H:%M:%S")

In [9]:
time_obj

datetime.datetime(2017, 11, 26, 8, 24, 26)



# Apply TimeDelta to datetime

In [10]:
now = dt.now()

In [11]:
now

datetime.datetime(2017, 11, 26, 18, 33, 58, 100785)

## timedelta example

In [12]:
time_shifted = now + td(days=1)

In [13]:
time_shifted

datetime.datetime(2017, 11, 27, 18, 33, 58, 100785)

## timedelta with multiple args

In [14]:
time_shifted2 = now + td(days=1, hours=12, minutes=5, seconds=15)

In [15]:
time_shifted2

datetime.datetime(2017, 11, 28, 6, 39, 13, 100785)

# TimeZone

# datetime methods

## <a href="https://datascienceschool.net/view-notebook/465066ac92ef4da3b0aba32f76d9750a/">Tutorial Link</a>

In [16]:
now = dt.now()

## weekday method

In [17]:
# weekday(): 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
weekday = now.weekday()

In [18]:
weekday

6

## date method

In [19]:
# 날짜 정보만 가지는 datetime.date 클래스 객체 반환
_date = now.date()

In [20]:
_date

datetime.date(2017, 11, 26)

## time method

In [21]:
# time(): 시간 정보만 가지는 datetime.time 클래스 객체 반환
_time = now.time()

In [91]:
_time

datetime.datetime(2016, 4, 16, 18, 52, 26)

<h1>datetuil packet</h1>

## format is not needed when parse string to datetime

In [23]:
from dateutil.parser import parse

In [24]:
_time = parse('2016-04-16 18:52:26')

In [25]:
_time

datetime.datetime(2016, 4, 16, 18, 52, 26)

In [26]:
_time2 = parse("Apr 16, 2016 04:05:32 PM")

In [27]:
_time2

datetime.datetime(2016, 4, 16, 16, 5, 32)

In [28]:
_time3 = parse('6/7/2016')

In [29]:
_time3

datetime.datetime(2016, 6, 7, 0, 0)

<h1>relativetimedelta</h1>

In [30]:
from dateutil.relativedelta import relativedelta

In [39]:
now = dt.now()
now

datetime.datetime(2017, 11, 26, 18, 34, 4, 26424)

In [86]:
res = now - relativedelta(years=1, months=1, days=1, hours=1, minutes=1, seconds=1)

In [87]:
type(res)

datetime.datetime

In [88]:
now

datetime.datetime(2017, 11, 26, 18, 34, 4, 26424)

In [89]:
res

datetime.datetime(2016, 10, 25, 17, 33, 3, 26424)

# TimeDelta

In [32]:
dt1 = dt(2016, 2, 19, 14)
dt2 = dt(2016, 1, 2, 13)

In [33]:
td = dt1 - dt2

In [34]:
td

datetime.timedelta(48, 3600)

## Properties

In [35]:
td.days

48

In [36]:
td.seconds

3600

In [37]:
td.microseconds

0

## methods

In [38]:
td.total_seconds()

4150800.0