<br>
# Stock Price predition using RandomForest
<br><br>

In [1]:
import pandas as pd

In [2]:
# input paramter
days_of_interest = 7

In [3]:
df = pd.read_table(
        r'C:\Codes\Snippets\stock trading\sample.txt',
        index_col=['Date'],
    )

In [4]:
df.tail()

                Open      High       Low     Close  Adj Close   Volume
Date
2018-09-17  153500.0  154000.0  149500.0  152000.0   152000.0   636250
2018-09-18  150500.0  155000.0  149000.0  151500.0   151500.0   610960
2018-09-19  153500.0  154000.0  147500.0  151000.0   151000.0   650384
2018-09-20  152000.0  152000.0  145000.0  146000.0   146000.0  1055119
2018-09-21  148500.0  148500.0  142500.0  145000.0   145000.0   988039

In [5]:
df['pct_change'] = df['Adj Close'].pct_change(periods=days_of_interest) *100

In [6]:
days_of_expect = 20

df['prediction'] = df['Adj Close'].shift(periods=days_of_interest)

In [7]:
df = df.dropna()

In [8]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,pct_change,prediction
Date,,,,,,,,
2016-01-13,56700.0,58000.0,56300.0,57000.0,57000.0,556571,-5.472637,60300.0
2016-01-14,56400.0,56400.0,54700.0,55400.0,55400.0,596031,-10.064935,61600.0
2016-01-15,56200.0,56300.0,55600.0,56100.0,56100.0,336116,-8.333333,61200.0
2016-01-18,55500.0,55600.0,54100.0,54300.0,54300.0,323162,-11.850649,61600.0
2016-01-19,54400.0,55700.0,54000.0,55600.0,55600.0,318396,-9.298532,61300.0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    df[['Open','High','Low','Volume','pct_change']].dropna(), 
    df['prediction'],
    test_size=0.2,
)

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [44]:
x_sample = df[['Open','High','Low','Volume','pct_change']].dropna()
y_sample = df['prediction'].dropna()

In [46]:
rf = RandomForestClassifier(n_estimators=10, oob_score=True, random_state=123456)
# rf.fit(X_train, y_train)
rf.fit(x_sample, y_sample)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:453: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:458: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=True, random_state=123456, verbose=0,
            warm_start=False)