# Time

## Time handling in Python
<br>

# Table of Contents

### 1. datetime

1. [methods](#datetime_class)
2. [date & time](#date_time)
3. [TimeDelta](#date_td)

### 2. dateutil

1. [relative timedelta](#dateutil_class)

### 3. ETC

1. [Convert str to time & vice versa](#conversion)

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

---

<a id="conversion"></a>
# Convert str to time & vice versa

In [1]:
from datetime import datetime as dt, timedelta as td
import time

**datetime now** is return a current time

In [2]:
now = dt.now()

In [3]:
now

datetime.datetime(2017, 12, 3, 7, 41, 15, 863225)

**datetime object methods** : year, month, day, hour, minute, second

In [4]:
print('{}-{}-{} {}:{}:{}'.format(now.year, now.month, now.day, now.hour, now.minute, now.second))

2017-12-3 7:41:15

## convert datetime to str

**using strftime**

In [5]:
stringtime = dt.now().strftime("%Y-%m-%d %H:%M:%S")

In [6]:
stringtime

'2017-12-03 07:41:15'

---

## convert str to datetime

** using strptime**

In [7]:
str_time = '2017-11-26 08:24:26'

**time format** should be given

In [8]:
time_obj = dt.strptime(str_time, "%Y-%m-%d %H:%M:%S")

In [9]:
time_obj

datetime.datetime(2017, 11, 26, 8, 24, 26)

<a id="timedelta"></a>
<br>
# TimeDelta

In [10]:
now = dt.now()

In [11]:
now

datetime.datetime(2017, 12, 3, 7, 41, 16, 53745)

## timedelta example

In [12]:
time_shifted = now + td(days=1)

In [13]:
time_shifted

datetime.datetime(2017, 12, 4, 7, 41, 16, 53745)

## timedelta with multiple args

In [14]:
time_shifted2 = now + td(days=1, hours=12, minutes=5, seconds=15)

In [15]:
time_shifted2

datetime.datetime(2017, 12, 4, 19, 46, 31, 53745)

---

<a id="date_td"></a>
# TimeDelta

In [60]:
dt1 = dt(2016, 2, 19, 14)
dt2 = dt(2016, 1, 2, 12)

**timedelta object can be extracted** substraction datetime to datetime

In [61]:
td = dt1 - dt2

In [62]:
td

datetime.timedelta(48, 7200)

**Properties**

In [63]:
td.days

48

In [64]:
td.seconds

7200

In [65]:
td.microseconds

0

**methods**

In [67]:
td.total_seconds()

4154400.0

---

<a id="datetime_class"></a>
# datetime

## methods

<a href="https://datascienceschool.net/view-notebook/465066ac92ef4da3b0aba32f76d9750a/">Tutorial Link</a>

In [16]:
now = dt.now()

**weekday method** : 요일을 int 로 반환

In [17]:
# weekday(): 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
weekday = now.weekday()

In [18]:
weekday

6

---

<a id="date_time"></a>
# date & time class

**date class** : only manipulating year, month, day level time

In [16]:
_date = now.date()

In [17]:
_date

datetime.date(2017, 12, 10)

**time class** : only manipulating hours, minutes, seconds level time

In [18]:
_time = now.time()

In [19]:
_time

datetime.time(10, 42, 31, 913363)

**combine date & time class** as datetime class

In [20]:
new_dt = dt.combine(_date, _time)

In [21]:
type(new_dt)

datetime.datetime

In [22]:
new_dt

datetime.datetime(2017, 12, 10, 10, 42, 31, 913363)

---

<a id="dateutil_class"></a>
# dateutil

**time format is not needed** when parse str to datetime

dateutil **translate proper str time format** before parsing to datetime

In [23]:
from dateutil.parser import parse

In [24]:
_time = parse('2016-04-16 18:52:26')

In [25]:
_time

datetime.datetime(2016, 4, 16, 18, 52, 26)

In [26]:
_time2 = parse("Apr 16, 2016 04:05:32 PM")

In [27]:
_time2

datetime.datetime(2016, 4, 16, 16, 5, 32)

In [28]:
_time3 = parse('6/7/2016')

In [29]:
_time3

datetime.datetime(2016, 6, 7, 0, 0)

<a id="r_t_delta"></a>
## relative timedelta

In [3]:
from dateutil.relativedelta import relativedelta

In [4]:
now = dt.now()
now

datetime.datetime(2017, 12, 10, 10, 42, 31, 913363)

relativedelta input kwargs should be expressed **plural form**

In [5]:
res = now - relativedelta(years=1, months=1, days=1, hours=1, minutes=1, seconds=1)

In [6]:
type(res)

datetime.datetime

In [7]:
now

datetime.datetime(2017, 12, 10, 10, 42, 31, 913363)

In [8]:
res

datetime.datetime(2016, 11, 9, 9, 41, 30, 913363)