In [1]:
import pandas as pd

In [14]:
df = pd.read_excel(
    r'C:\Codes\Snippets\sample data\aliasing.xlsx',
    sheetname='alias',
)

df

   step_seq      ppid
0  kz001800  iutk2.5p
1  kz001800   iutk2.5
2  kz001800  iutk2.5p
3  kz001800       por
4  kz001800       por
5  kz001800   iutk2.5
6  kz001800  iutk2.5p

In [15]:
option = [
    'iutk2.5p',
    'iutk2.5'
]

In [16]:
alias = [
    'iUTK2.5++',
    'iUTK2.5',
    'Other',
]

In [17]:
for i, it in enumerate(option):        
    if i == 0:
        df.loc[df['ppid'].str.contains(it), 'ALIAS'] = alias[i]
    else:
        df.loc[(df['ppid'].str.contains(it)) & (df['ALIAS'].isnull()), 'ALIAS'] = alias[i]
        
df.loc[df['ALIAS'].isnull(), 'ALIAS'] = alias[len(alias)-1]

In [18]:
df

   step_seq      ppid      ALIAS
0  kz001800  iutk2.5p  iUTK2.5++
1  kz001800   iutk2.5    iUTK2.5
2  kz001800  iutk2.5p  iUTK2.5++
3  kz001800       por      Other
4  kz001800       por      Other
5  kz001800   iutk2.5    iUTK2.5
6  kz001800  iutk2.5p  iUTK2.5++

---

# Remain Problem
## Lot in RW is not considered