# Correlator

---

# Table of Contents

### 1. Anova

- [anova output handling](#anova_out)

### 2. Inter-Vehicle monitoring

- [inter-vehicle integration](#it_v_integ)

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

---

<a id="anova_out"></a>

# Anova Ouput

In [1]:
import pandas as pd

In [4]:
anova_outout = pd.read_table(
    r'C:\Codes\Snippets\Correlator\output.txt',
)

anova_outout

   rank item step
0     1  CD1    A
1     2  CD1    B
2     3  CD1    C

In [5]:
item = pd.read_table(
    r'C:\Codes\Snippets\Correlator\item.txt',
)

item

  lot_wf item sub  value
0    0xx  CD1  s1    100
1    0xx  CD1  s2     98
2    0xx  CD1  s3     99
3    196  CD1  s1     75
4    196  CD1  s2     82
5    196  CD1  s3     86

In [6]:
path = pd.read_table(
    r'C:\Codes\Snippets\Correlator\path.txt',
)

path

  lot_wf step ppid
0    0xx    A    a
1    0xx    B    a
2    0xx    C    b
3    196    A    b
4    196    B    c
5    196    C    a

## merge outpus

In [7]:
res = pd.merge(anova_outout, item, on=['item'], how='left')

In [8]:
res = pd.merge(res, path, on=['lot_wf','step'], how='left')

## data output successfully merged

In [9]:
res

    rank item step lot_wf sub  value ppid
0      1  CD1    A    0xx  s1    100    a
1      1  CD1    A    0xx  s2     98    a
2      1  CD1    A    0xx  s3     99    a
3      1  CD1    A    196  s1     75    b
4      1  CD1    A    196  s2     82    b
5      1  CD1    A    196  s3     86    b
6      2  CD1    B    0xx  s1    100    a
7      2  CD1    B    0xx  s2     98    a
8      2  CD1    B    0xx  s3     99    a
9      2  CD1    B    196  s1     75    c
10     2  CD1    B    196  s2     82    c
11     2  CD1    B    196  s3     86    c
12     3  CD1    C    0xx  s1    100    b
13     3  CD1    C    0xx  s2     98    b
14     3  CD1    C    0xx  s3     99    b
15     3  CD1    C    196  s1     75    a
16     3  CD1    C    196  s2     82    a
17     3  CD1    C    196  s3     86    a

---

<a id="it_v_integ"></a>

# Inter-Vehicle Integration

In [3]:
import pandas as pd

In [39]:
raw_df = pd.read_table(r'C:\Codes\Snippets\Correlator\inter vehicle raw.txt')
criteria = pd.read_table(r'C:\Codes\Snippets\Correlator\inter vehicle criteria.txt')

In [40]:
raw_df

   step_seq        step_desc item     value
0     kz900        9.5 esige  CD1  0.076518
1     kz900        9.5 esige  CD2  0.277317
2     kz900        9.5 esige  CD3  0.233110
3     kz900        9.5 esige  CD4  0.032080
4     kz900        9.5 esige  CD5  0.448799
5     kz900        9.5 esige  CD6  0.003331
6     kz901  9.5 esige @MPW2  CD1  0.426568
7     kz901  9.5 esige @MPW2  CD2  0.034974
8     kz901  9.5 esige @MPW2  CD3  0.834206
9     kz901  9.5 esige @MPW2  CD4  0.113713
10    kz901  9.5 esige @MPW2  CD5  0.239632
11    kz901  9.5 esige @MPW2  CD6  0.773667

In [41]:
criteria

   step_desc   KNGF   KNGN   KNGG
0  9.5 esige  kz900  kz901  kz902

In [54]:
# set reference process_id
ref = 'KNGF'

In [43]:
criteria.set_index(['step_desc',ref], inplace=True)

In [44]:
criteria

                  KNGN   KNGG
step_desc KNGF
9.5 esige kz900  kz901  kz902

In [45]:
criteria2 = criteria.stack()

criteria2

step_desc  KNGF
9.5 esige  kz900  KNGN    kz901
                  KNGG    kz902
dtype: object

In [46]:
res= criteria2.reset_index()

In [47]:
res2 = res[[ref, 0, 'step_desc']]

res2

    KNGF      0  step_desc
0  kz900  kz901  9.5 esige
1  kz900  kz902  9.5 esige

In [48]:
res2.rename(columns={ref:'step_seq_r', 0:'step_seq', 'step_desc':'step_desc_r'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [49]:
res2

  step_seq_r step_seq step_desc_r
0      kz900    kz901   9.5 esige
1      kz900    kz902   9.5 esige

In [50]:
raw_df = pd.merge(raw_df, res2, on=['step_seq'], how='left')

raw_df

   step_seq        step_desc item     value step_seq_r step_desc_r
0     kz900        9.5 esige  CD1  0.076518        NaN         NaN
1     kz900        9.5 esige  CD2  0.277317        NaN         NaN
2     kz900        9.5 esige  CD3  0.233110        NaN         NaN
3     kz900        9.5 esige  CD4  0.032080        NaN         NaN
4     kz900        9.5 esige  CD5  0.448799        NaN         NaN
5     kz900        9.5 esige  CD6  0.003331        NaN         NaN
6     kz901  9.5 esige @MPW2  CD1  0.426568      kz900   9.5 esige
7     kz901  9.5 esige @MPW2  CD2  0.034974      kz900   9.5 esige
8     kz901  9.5 esige @MPW2  CD3  0.834206      kz900   9.5 esige
9     kz901  9.5 esige @MPW2  CD4  0.113713      kz900   9.5 esige
10    kz901  9.5 esige @MPW2  CD5  0.239632      kz900   9.5 esige
11    kz901  9.5 esige @MPW2  CD6  0.773667      kz900   9.5 esige

In [51]:
raw_df.loc[raw_df['step_seq_r'].notnull(), 'step_seq'] = raw_df['step_seq_r']
raw_df.loc[raw_df['step_desc_r'].notnull(), 'step_desc'] = raw_df['step_desc_r']

In [53]:
del raw_df['step_seq_r']; del raw_df['step_desc_r']


raw_df

   step_seq  step_desc item     value
0     kz900  9.5 esige  CD1  0.076518
1     kz900  9.5 esige  CD2  0.277317
2     kz900  9.5 esige  CD3  0.233110
3     kz900  9.5 esige  CD4  0.032080
4     kz900  9.5 esige  CD5  0.448799
5     kz900  9.5 esige  CD6  0.003331
6     kz900  9.5 esige  CD1  0.426568
7     kz900  9.5 esige  CD2  0.034974
8     kz900  9.5 esige  CD3  0.834206
9     kz900  9.5 esige  CD4  0.113713
10    kz900  9.5 esige  CD5  0.239632
11    kz900  9.5 esige  CD6  0.773667