<br>
# Multi Index DataFrame
<br>

In [2]:
import pandas as pd

In [3]:
df = pd.read_table('m_index.txt')

In [4]:
df

  LOT  WF   ITEM     VALUE STEP
0   A   1  Vtsat  0.734864   M1
1   A   2  Vtsat  0.908258   M1
2   A   1  Idsat  0.573600   MF
3   A   2  Idsat  0.343981   MF
4   B   1  Vtsat  0.899372   M1
5   B   2  Vtsat  0.397698   M1
6   B   1  Idsat  0.990102   MF
7   B   2  Idsat  0.063605   MF

In [5]:
pivot = pd.pivot_table(
    df,
    index=['LOT','WF'],
    columns=['STEP','ITEM'],
    values='VALUE'
).reset_index()

In [6]:
pivot

STEP LOT WF        M1        MF
ITEM            Vtsat     Idsat
0      A  1  0.734864  0.573600
1      A  2  0.908258  0.343981
2      B  1  0.899372  0.990102
3      B  2  0.397698  0.063605

<br><br>
# multiIndex df Indexing
<br>

## Basic Indexing

In [15]:
pivot.loc[(pivot['LOT'] == 'A') & (pivot['WF'] == 1)]

STEP LOT WF        M1      MF
ITEM            Vtsat   Idsat
0      A  1  0.734864  0.5736

## multiIndex indexing

In [16]:
pivot.loc[pivot['M1']['Vtsat'] > 0.75]

STEP LOT WF        M1        MF
ITEM            Vtsat     Idsat
1      A  2  0.908258  0.343981
2      B  1  0.899372  0.990102

In [18]:
res = pivot.loc[(pivot['M1']['Vtsat'] > 0.75) &  (pivot['MF']['Idsat'] < 0.5)]

In [19]:
res

STEP LOT WF        M1        MF
ITEM            Vtsat     Idsat
1      A  2  0.908258  0.343981

In [24]:
pivot.loc[pivot.index.isin([1,3])]

STEP LOT WF        M1        MF
ITEM            Vtsat     Idsat
1      A  2  0.908258  0.343981
3      B  2  0.397698  0.063605