# Pandas

In [6]:
import pandas as pd

from pprint import pprint

# convert df to dict & reverse

In [7]:
df = pd.DataFrame({
    'A':['a','b','c'],
    'B':[1,2,3],
})

In [8]:
df

   A  B
0  a  1
1  b  2
2  c  3

In [52]:
_dic = df.to_dict(orient='records')

In [53]:
pprint(_dic)

[{'A': 'a', 'B': 1}, {'A': 'b', 'B': 2}, {'A': 'c', 'B': 3}]

In [54]:
_df = pd.DataFrame.from_dict(_dic)

In [55]:
_df

   A  B
0  a  1
1  b  2
2  c  3

# options on to_dict orient

## orient = dict

In [58]:
conv = df.to_dict(orient='dict')
conv

{'A': {0: 'a', 1: 'b', 2: 'c'}, 'B': {0: 1, 1: 2, 2: 3}}

## orient = list

In [59]:
conv = df.to_dict(orient='list')
conv

{'A': ['a', 'b', 'c'], 'B': [1, 2, 3]}

## orient = series

In [60]:
conv = df.to_dict(orient='series')
conv

{'A': 0    a
 1    b
 2    c
 Name: A, dtype: object, 'B': 0    1
 1    2
 2    3
 Name: B, dtype: int64}

## orient = split

In [61]:
conv = df.to_dict(orient='split')
conv

{'columns': ['A', 'B'],
 'data': [['a', 1], ['b', 2], ['c', 3]],
 'index': [0, 1, 2]}

## orient = records

In [62]:
conv = df.to_dict(orient='records')
conv

[{'A': 'a', 'B': 1}, {'A': 'b', 'B': 2}, {'A': 'c', 'B': 3}]

## orient = index

In [63]:
conv = df.to_dict(orient='index')
conv

{0: {'A': 'a', 'B': 1}, 1: {'A': 'b', 'B': 2}, 2: {'A': 'c', 'B': 3}}