# Correlator

---

# Table of Contents

### 1. Anova

- [anova output handling](#anova_out)

### 2. Inter-Vehicle monitoring

- [inter-vehicle integration](#it_v_integ)

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

---

<a id="anova_out"></a>

# Anova Ouput

In [1]:
import pandas as pd

In [4]:
anova_outout = pd.read_table(
    r'C:\Codes\Snippets\Correlator\output.txt',
)

anova_outout

   rank item step
0     1  CD1    A
1     2  CD1    B
2     3  CD1    C

In [5]:
item = pd.read_table(
    r'C:\Codes\Snippets\Correlator\item.txt',
)

item

  lot_wf item sub  value
0    0xx  CD1  s1    100
1    0xx  CD1  s2     98
2    0xx  CD1  s3     99
3    196  CD1  s1     75
4    196  CD1  s2     82
5    196  CD1  s3     86

In [6]:
path = pd.read_table(
    r'C:\Codes\Snippets\Correlator\path.txt',
)

path

  lot_wf step ppid
0    0xx    A    a
1    0xx    B    a
2    0xx    C    b
3    196    A    b
4    196    B    c
5    196    C    a

## merge outpus

In [7]:
res = pd.merge(anova_outout, item, on=['item'], how='left')

In [8]:
res = pd.merge(res, path, on=['lot_wf','step'], how='left')

## data output successfully merged

In [9]:
res

    rank item step lot_wf sub  value ppid
0      1  CD1    A    0xx  s1    100    a
1      1  CD1    A    0xx  s2     98    a
2      1  CD1    A    0xx  s3     99    a
3      1  CD1    A    196  s1     75    b
4      1  CD1    A    196  s2     82    b
5      1  CD1    A    196  s3     86    b
6      2  CD1    B    0xx  s1    100    a
7      2  CD1    B    0xx  s2     98    a
8      2  CD1    B    0xx  s3     99    a
9      2  CD1    B    196  s1     75    c
10     2  CD1    B    196  s2     82    c
11     2  CD1    B    196  s3     86    c
12     3  CD1    C    0xx  s1    100    b
13     3  CD1    C    0xx  s2     98    b
14     3  CD1    C    0xx  s3     99    b
15     3  CD1    C    196  s1     75    a
16     3  CD1    C    196  s2     82    a
17     3  CD1    C    196  s3     86    a

---

<a id="it_v_integ"></a>

# Inter-Vehicle Integration

In [3]:
import pandas as pd

In [39]:
raw_df = pd.read_table(r'C:\Codes\Snippets\Correlator\inter vehicle raw.txt')
criteria = pd.read_table(r'C:\Codes\Snippets\Correlator\inter vehicle criteria.txt')

In [40]:
raw_df

   step_seq        step_desc item     value
0     kz900        9.5 esige  CD1  0.076518
1     kz900        9.5 esige  CD2  0.277317
2     kz900        9.5 esige  CD3  0.233110
3     kz900        9.5 esige  CD4  0.032080
4     kz900        9.5 esige  CD5  0.448799
5     kz900        9.5 esige  CD6  0.003331
6     kz901  9.5 esige @MPW2  CD1  0.426568
7     kz901  9.5 esige @MPW2  CD2  0.034974
8     kz901  9.5 esige @MPW2  CD3  0.834206
9     kz901  9.5 esige @MPW2  CD4  0.113713
10    kz901  9.5 esige @MPW2  CD5  0.239632
11    kz901  9.5 esige @MPW2  CD6  0.773667

In [41]:
criteria

   step_desc   KNGF   KNGN   KNGG
0  9.5 esige  kz900  kz901  kz902

In [54]:
# set reference process_id
ref = 'KNGF'

In [43]:
criteria.set_index(['step_desc',ref], inplace=True)

In [44]:
criteria

                  KNGN   KNGG
step_desc KNGF
9.5 esige kz900  kz901  kz902

In [45]:
criteria2 = criteria.stack()

criteria2

step_desc  KNGF
9.5 esige  kz900  KNGN    kz901
                  KNGG    kz902
dtype: object

In [46]:
res= criteria2.reset_index()

In [47]:
res2 = res[[ref, 0, 'step_desc']]

res2

    KNGF      0  step_desc
0  kz900  kz901  9.5 esige
1  kz900  kz902  9.5 esige

In [48]:
res2.rename(columns={ref:'step_seq_r', 0:'step_seq', 'step_desc':'step_desc_r'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [49]:
res2

  step_seq_r step_seq step_desc_r
0      kz900    kz901   9.5 esige
1      kz900    kz902   9.5 esige

In [50]:
raw_df = pd.merge(raw_df, res2, on=['step_seq'], how='left')

raw_df

   step_seq        step_desc item     value step_seq_r step_desc_r
0     kz900        9.5 esige  CD1  0.076518        NaN         NaN
1     kz900        9.5 esige  CD2  0.277317        NaN         NaN
2     kz900        9.5 esige  CD3  0.233110        NaN         NaN
3     kz900        9.5 esige  CD4  0.032080        NaN         NaN
4     kz900        9.5 esige  CD5  0.448799        NaN         NaN
5     kz900        9.5 esige  CD6  0.003331        NaN         NaN
6     kz901  9.5 esige @MPW2  CD1  0.426568      kz900   9.5 esige
7     kz901  9.5 esige @MPW2  CD2  0.034974      kz900   9.5 esige
8     kz901  9.5 esige @MPW2  CD3  0.834206      kz900   9.5 esige
9     kz901  9.5 esige @MPW2  CD4  0.113713      kz900   9.5 esige
10    kz901  9.5 esige @MPW2  CD5  0.239632      kz900   9.5 esige
11    kz901  9.5 esige @MPW2  CD6  0.773667      kz900   9.5 esige

In [51]:
raw_df.loc[raw_df['step_seq_r'].notnull(), 'step_seq'] = raw_df['step_seq_r']
raw_df.loc[raw_df['step_desc_r'].notnull(), 'step_desc'] = raw_df['step_desc_r']

In [53]:
del raw_df['step_seq_r']; del raw_df['step_desc_r']


raw_df

   step_seq  step_desc item     value
0     kz900  9.5 esige  CD1  0.076518
1     kz900  9.5 esige  CD2  0.277317
2     kz900  9.5 esige  CD3  0.233110
3     kz900  9.5 esige  CD4  0.032080
4     kz900  9.5 esige  CD5  0.448799
5     kz900  9.5 esige  CD6  0.003331
6     kz900  9.5 esige  CD1  0.426568
7     kz900  9.5 esige  CD2  0.034974
8     kz900  9.5 esige  CD3  0.834206
9     kz900  9.5 esige  CD4  0.113713
10    kz900  9.5 esige  CD5  0.239632
11    kz900  9.5 esige  CD6  0.773667

In [65]:
locals()

{'In': ['',
  '<aid="it_v_integ"></a>',
  "raw_df = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle raw.txt')\ncriteria = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle criteria.txt')",
  'import pandas as pd',
  "raw_df = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle raw.txt')\ncriteria = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle criteria.txt')",
  'raw_df',
  'criteria',
  "criteria.set_index(['step_desc'], inplace=True)",
  'criteria',
  'criteria2 = criteria.stack()',
  'criteria2 = criteria.stack()\n\ncriteria2',
  "ref = 'KNGF'",
  "criteria.set_index(['step_desc',ref], inplace=True)",
  "raw_df = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle raw.txt')\ncriteria = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle criteria.txt')",
  'raw_df',
  'criteria',
  "ref = 'KNGF'",
  "criteria.set_index(['step_desc',ref], inplace=True)",
  'criteria',
  'criteria2 = criteria.stack()\n\ncriteria2',
  'criteria2.reset_index()',
  'criteria2.reset_index()',
  'res = criteria2[ref, 0]',
  'res = criteria2[[ref, 0]]',
  'res',
  'res= criteria2.reset_index()',
  'res2 = res[[ref, 0]]\n\nres2',
  'res2 = res[[ref, 0, step_desc]]\n\nres2',
  "res2 = res[[ref, 0, 'step_desc']]\n\nres2",
  "res2.rename(columns={ref:'step_seq_r', 0:'step_seq'k, 'step_desc':'step_desc_r'}, inplace=True)",
  "res2.rename(columns={ref:'step_seq_r', 0:'step_seq', 'step_desc':'step_desc_r'}, inplace=True)",
  'res2',
  "raw_df = pd.merge(raw_df, res2, on=['step_seq'], how='left')\n\nraw_df",
  "raw_df.loc[raw_df['step_seq_r'].notnull(), 'step_seq'] = raw_df['step_seq_r']",
  "raw_df.loc[raw_df['step_seq_r'].notnull(), 'step_seq'] = raw_df['step_seq_r']",
  "raw_df.loc[raw_df['step_seq_r'].notnull(), 'step_seq'] = raw_df['step_seq_r']\nraw_df.loc[raw_df['step_desc_r'].notnull(), 'step_desc'] = raw_df['step_desc_r']",
  'raw_df',
  "raw_df = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle raw.txt')\ncriteria = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle criteria.txt')",
  'raw_df',
  "raw_df = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle raw.txt')\ncriteria = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle criteria.txt')",
  'raw_df',
  'criteria',
  "ref = 'KNGF'",
  "criteria.set_index(['step_desc',ref], inplace=True)",
  'criteria',
  'criteria2 = criteria.stack()\n\ncriteria2',
  'res= criteria2.reset_index()',
  "res2 = res[[ref, 0, 'step_desc']]\n\nres2",
  "res2.rename(columns={ref:'step_seq_r', 0:'step_seq', 'step_desc':'step_desc_r'}, inplace=True)",
  'res2',
  "raw_df = pd.merge(raw_df, res2, on=['step_seq'], how='left')\n\nraw_df",
  "raw_df.loc[raw_df['step_seq_r'].notnull(), 'step_seq'] = raw_df['step_seq_r']\nraw_df.loc[raw_df['step_desc_r'].notnull(), 'step_desc'] = raw_df['step_desc_r']",
  'raw_df',
  "del raw_df['step_seq_r']; del raw_df['step_desc_r']\n\n\nraw_df",
  "# set reference process_id\nref = 'KNGF'",
  'data_filter = {\n    \'method\': \'script\',\n    \'contetns\': """\n        step_seq < \'KZ010000\'\n    """,\n}',
  'data_filter',
  "data_filter = {\n    'method': 'script',\n    'contetns': [],\n}",
  'data_filter',
  "data_filter['new'] = 'rcp'",
  'data_filter',
  "data_filter.get('new2',None)",
  "res = data_filter.get('new2',None)",
  'res',
  'res is None',
  'locals()'],
 'Out': {5:    step_seq             step item     value
  0     kz900        9.5 esige  CD1  0.339807
  1     kz900        9.5 esige  CD2  0.139448
  2     kz900        9.5 esige  CD3  0.216877
  3     kz900        9.5 esige  CD4  0.831520
  4     kz900        9.5 esige  CD5  0.569496
  5     kz900        9.5 esige  CD6  0.339665
  6     kz901  9.5 esige @MPW2  CD1  0.096138
  7     kz901  9.5 esige @MPW2  CD2  0.720987
  8     kz901  9.5 esige @MPW2  CD3  0.424481
  9     kz901  9.5 esige @MPW2  CD4  0.420380
  10    kz901  9.5 esige @MPW2  CD5  0.637905
  11    kz901  9.5 esige @MPW2  CD6  0.835443,
  6:             KNGF   KNGN   KNGG
  step_desc
  9.5 esige  kz900  kz901  kz902,
  8:             KNGF   KNGN   KNGG
  step_desc
  9.5 esige  kz900  kz901  kz902,
  10: step_desc
  9.5 esige  KNGF    kz900
             KNGN    kz901
             KNGG    kz902
  dtype: object,
  14:    step_seq             step item     value
  0     kz900        9.5 esige  CD1  0.339807
  1     kz900        9.5 esige  CD2  0.139448
  2     kz900        9.5 esige  CD3  0.216877
  3     kz900        9.5 esige  CD4  0.831520
  4     kz900        9.5 esige  CD5  0.569496
  5     kz900        9.5 esige  CD6  0.339665
  6     kz901  9.5 esige @MPW2  CD1  0.096138
  7     kz901  9.5 esige @MPW2  CD2  0.720987
  8     kz901  9.5 esige @MPW2  CD3  0.424481
  9     kz901  9.5 esige @MPW2  CD4  0.420380
  10    kz901  9.5 esige @MPW2  CD5  0.637905
  11    kz901  9.5 esige @MPW2  CD6  0.835443,
  15:                   KNGN   KNGG
  step_desc KNGF
  9.5 esige kz900  kz901  kz902,
  18:                   KNGN   KNGG
  step_desc KNGF
  9.5 esige kz900  kz901  kz902,
  19: step_desc  KNGF
  9.5 esige  kz900  KNGN    kz901
                    KNGG    kz902
  dtype: object,
  20:    step_desc   KNGF level_2      0
  0  9.5 esige  kz900    KNGN  kz901
  1  9.5 esige  kz900    KNGG  kz902,
  21:    step_desc   KNGF level_2      0
  0  9.5 esige  kz900    KNGN  kz901
  1  9.5 esige  kz900    KNGG  kz902,
  24: Series([], dtype: object),
  26:     KNGF      0
  0  kz900  kz901
  1  kz900  kz902,
  28:   step_seq_r step_seq step_desc_r
  0      kz900    kz901   9.5 esige
  1      kz900    kz902   9.5 esige,
  31:   step_seq_r step_seq step_desc_r
  0      kz900    kz901   9.5 esige
  1      kz900    kz902   9.5 esige,
  32:    step_seq             step item     value step_seq_r step_desc_r  step_desc
  0     kz900        9.5 esige  CD1  0.339807        NaN         NaN        NaN
  1     kz900        9.5 esige  CD2  0.139448        NaN         NaN        NaN
  2     kz900        9.5 esige  CD3  0.216877        NaN         NaN        NaN
  3     kz900        9.5 esige  CD4  0.831520        NaN         NaN        NaN
  4     kz900        9.5 esige  CD5  0.569496        NaN         NaN        NaN
  5     kz900        9.5 esige  CD6  0.339665        NaN         NaN        NaN
  6     kz900  9.5 esige @MPW2  CD1  0.096138      kz900   9.5 esige  9.5 esige
  7     kz900  9.5 esige @MPW2  CD2  0.720987      kz900   9.5 esige  9.5 esige
  8     kz900  9.5 esige @MPW2  CD3  0.424481      kz900   9.5 esige  9.5 esige
  9     kz900  9.5 esige @MPW2  CD4  0.420380      kz900   9.5 esige  9.5 esige
  10    kz900  9.5 esige @MPW2  CD5  0.637905      kz900   9.5 esige  9.5 esige
  11    kz900  9.5 esige @MPW2  CD6  0.835443      kz900   9.5 esige  9.5 esige,
  36:    step_seq             step item     value step_seq_r step_desc_r  step_desc
  0     kz900        9.5 esige  CD1  0.339807        NaN         NaN        NaN
  1     kz900        9.5 esige  CD2  0.139448        NaN         NaN        NaN
  2     kz900        9.5 esige  CD3  0.216877        NaN         NaN        NaN
  3     kz900        9.5 esige  CD4  0.831520        NaN         NaN        NaN
  4     kz900        9.5 esige  CD5  0.569496        NaN         NaN        NaN
  5     kz900        9.5 esige  CD6  0.339665        NaN         NaN        NaN
  6     kz900  9.5 esige @MPW2  CD1  0.096138      kz900   9.5 esige  9.5 esige
  7     kz900  9.5 esige @MPW2  CD2  0.720987      kz900   9.5 esige  9.5 esige
  8     kz900  9.5 esige @MPW2  CD3  0.424481      kz900   9.5 esige  9.5 esige
  9     kz900  9.5 esige @MPW2  CD4  0.420380      kz900   9.5 esige  9.5 esige
  10    kz900  9.5 esige @MPW2  CD5  0.637905      kz900   9.5 esige  9.5 esige
  11    kz900  9.5 esige @MPW2  CD6  0.835443      kz900   9.5 esige  9.5 esige,
  38:    step_seq             step item     value
  0     kz900        9.5 esige  CD1  0.339807
  1     kz900        9.5 esige  CD2  0.139448
  2     kz900        9.5 esige  CD3  0.216877
  3     kz900        9.5 esige  CD4  0.831520
  4     kz900        9.5 esige  CD5  0.569496
  5     kz900        9.5 esige  CD6  0.339665
  6     kz901  9.5 esige @MPW2  CD1  0.096138
  7     kz901  9.5 esige @MPW2  CD2  0.720987
  8     kz901  9.5 esige @MPW2  CD3  0.424481
  9     kz901  9.5 esige @MPW2  CD4  0.420380
  10    kz901  9.5 esige @MPW2  CD5  0.637905
  11    kz901  9.5 esige @MPW2  CD6  0.835443,
  40:    step_seq        step_desc item     value
  0     kz900        9.5 esige  CD1  0.076518
  1     kz900        9.5 esige  CD2  0.277317
  2     kz900        9.5 esige  CD3  0.233110
  3     kz900        9.5 esige  CD4  0.032080
  4     kz900        9.5 esige  CD5  0.448799
  5     kz900        9.5 esige  CD6  0.003331
  6     kz901  9.5 esige @MPW2  CD1  0.426568
  7     kz901  9.5 esige @MPW2  CD2  0.034974
  8     kz901  9.5 esige @MPW2  CD3  0.834206
  9     kz901  9.5 esige @MPW2  CD4  0.113713
  10    kz901  9.5 esige @MPW2  CD5  0.239632
  11    kz901  9.5 esige @MPW2  CD6  0.773667,
  41:                   KNGN   KNGG
  step_desc KNGF
  9.5 esige kz900  kz901  kz902,
  44:                   KNGN   KNGG
  step_desc KNGF
  9.5 esige kz900  kz901  kz902,
  45: step_desc  KNGF
  9.5 esige  kz900  KNGN    kz901
                    KNGG    kz902
  dtype: object,
  47:   step_seq_r step_seq step_desc_r
  0      kz900    kz901   9.5 esige
  1      kz900    kz902   9.5 esige,
  49:   step_seq_r step_seq step_desc_r
  0      kz900    kz901   9.5 esige
  1      kz900    kz902   9.5 esige,
  50:    step_seq  step_desc item     value
  0     kz900  9.5 esige  CD1  0.076518
  1     kz900  9.5 esige  CD2  0.277317
  2     kz900  9.5 esige  CD3  0.233110
  3     kz900  9.5 esige  CD4  0.032080
  4     kz900  9.5 esige  CD5  0.448799
  5     kz900  9.5 esige  CD6  0.003331
  6     kz900  9.5 esige  CD1  0.426568
  7     kz900  9.5 esige  CD2  0.034974
  8     kz900  9.5 esige  CD3  0.834206
  9     kz900  9.5 esige  CD4  0.113713
  10    kz900  9.5 esige  CD5  0.239632
  11    kz900  9.5 esige  CD6  0.773667,
  52:    step_seq  step_desc item     value
  0     kz900  9.5 esige  CD1  0.076518
  1     kz900  9.5 esige  CD2  0.277317
  2     kz900  9.5 esige  CD3  0.233110
  3     kz900  9.5 esige  CD4  0.032080
  4     kz900  9.5 esige  CD5  0.448799
  5     kz900  9.5 esige  CD6  0.003331
  6     kz900  9.5 esige  CD1  0.426568
  7     kz900  9.5 esige  CD2  0.034974
  8     kz900  9.5 esige  CD3  0.834206
  9     kz900  9.5 esige  CD4  0.113713
  10    kz900  9.5 esige  CD5  0.239632
  11    kz900  9.5 esige  CD6  0.773667,
  53:    step_seq  step_desc item     value
  0     kz900  9.5 esige  CD1  0.076518
  1     kz900  9.5 esige  CD2  0.277317
  2     kz900  9.5 esige  CD3  0.233110
  3     kz900  9.5 esige  CD4  0.032080
  4     kz900  9.5 esige  CD5  0.448799
  5     kz900  9.5 esige  CD6  0.003331
  6     kz900  9.5 esige  CD1  0.426568
  7     kz900  9.5 esige  CD2  0.034974
  8     kz900  9.5 esige  CD3  0.834206
  9     kz900  9.5 esige  CD4  0.113713
  10    kz900  9.5 esige  CD5  0.239632
  11    kz900  9.5 esige  CD6  0.773667,
  56: {'contetns': "\n        step_seq < 'KZ010000'\n    ",
   'method': 'script'},
  58: {'contetns': [], 'method': 'script', 'new': 'rcp'},
  60: {'contetns': [], 'method': 'script', 'new': 'rcp'},
  64: True},
 '_': True,
 '_10': step_desc
 9.5 esige  KNGF    kz900
            KNGN    kz901
            KNGG    kz902
 dtype: object,
 '_14':    step_seq             step item     value
 0     kz900        9.5 esige  CD1  0.339807
 1     kz900        9.5 esige  CD2  0.139448
 2     kz900        9.5 esige  CD3  0.216877
 3     kz900        9.5 esige  CD4  0.831520
 4     kz900        9.5 esige  CD5  0.569496
 5     kz900        9.5 esige  CD6  0.339665
 6     kz901  9.5 esige @MPW2  CD1  0.096138
 7     kz901  9.5 esige @MPW2  CD2  0.720987
 8     kz901  9.5 esige @MPW2  CD3  0.424481
 9     kz901  9.5 esige @MPW2  CD4  0.420380
 10    kz901  9.5 esige @MPW2  CD5  0.637905
 11    kz901  9.5 esige @MPW2  CD6  0.835443,
 '_15':                   KNGN   KNGG
 step_desc KNGF
 9.5 esige kz900  kz901  kz902,
 '_18':                   KNGN   KNGG
 step_desc KNGF
 9.5 esige kz900  kz901  kz902,
 '_19': step_desc  KNGF
 9.5 esige  kz900  KNGN    kz901
                   KNGG    kz902
 dtype: object,
 '_20':    step_desc   KNGF level_2      0
 0  9.5 esige  kz900    KNGN  kz901
 1  9.5 esige  kz900    KNGG  kz902,
 '_21':    step_desc   KNGF level_2      0
 0  9.5 esige  kz900    KNGN  kz901
 1  9.5 esige  kz900    KNGG  kz902,
 '_24': Series([], dtype: object),
 '_26':     KNGF      0
 0  kz900  kz901
 1  kz900  kz902,
 '_28':   step_seq_r step_seq step_desc_r
 0      kz900    kz901   9.5 esige
 1      kz900    kz902   9.5 esige,
 '_31':   step_seq_r step_seq step_desc_r
 0      kz900    kz901   9.5 esige
 1      kz900    kz902   9.5 esige,
 '_32':    step_seq             step item     value step_seq_r step_desc_r  step_desc
 0     kz900        9.5 esige  CD1  0.339807        NaN         NaN        NaN
 1     kz900        9.5 esige  CD2  0.139448        NaN         NaN        NaN
 2     kz900        9.5 esige  CD3  0.216877        NaN         NaN        NaN
 3     kz900        9.5 esige  CD4  0.831520        NaN         NaN        NaN
 4     kz900        9.5 esige  CD5  0.569496        NaN         NaN        NaN
 5     kz900        9.5 esige  CD6  0.339665        NaN         NaN        NaN
 6     kz900  9.5 esige @MPW2  CD1  0.096138      kz900   9.5 esige  9.5 esige
 7     kz900  9.5 esige @MPW2  CD2  0.720987      kz900   9.5 esige  9.5 esige
 8     kz900  9.5 esige @MPW2  CD3  0.424481      kz900   9.5 esige  9.5 esige
 9     kz900  9.5 esige @MPW2  CD4  0.420380      kz900   9.5 esige  9.5 esige
 10    kz900  9.5 esige @MPW2  CD5  0.637905      kz900   9.5 esige  9.5 esige
 11    kz900  9.5 esige @MPW2  CD6  0.835443      kz900   9.5 esige  9.5 esige,
 '_36':    step_seq             step item     value step_seq_r step_desc_r  step_desc
 0     kz900        9.5 esige  CD1  0.339807        NaN         NaN        NaN
 1     kz900        9.5 esige  CD2  0.139448        NaN         NaN        NaN
 2     kz900        9.5 esige  CD3  0.216877        NaN         NaN        NaN
 3     kz900        9.5 esige  CD4  0.831520        NaN         NaN        NaN
 4     kz900        9.5 esige  CD5  0.569496        NaN         NaN        NaN
 5     kz900        9.5 esige  CD6  0.339665        NaN         NaN        NaN
 6     kz900  9.5 esige @MPW2  CD1  0.096138      kz900   9.5 esige  9.5 esige
 7     kz900  9.5 esige @MPW2  CD2  0.720987      kz900   9.5 esige  9.5 esige
 8     kz900  9.5 esige @MPW2  CD3  0.424481      kz900   9.5 esige  9.5 esige
 9     kz900  9.5 esige @MPW2  CD4  0.420380      kz900   9.5 esige  9.5 esige
 10    kz900  9.5 esige @MPW2  CD5  0.637905      kz900   9.5 esige  9.5 esige
 11    kz900  9.5 esige @MPW2  CD6  0.835443      kz900   9.5 esige  9.5 esige,
 '_38':    step_seq             step item     value
 0     kz900        9.5 esige  CD1  0.339807
 1     kz900        9.5 esige  CD2  0.139448
 2     kz900        9.5 esige  CD3  0.216877
 3     kz900        9.5 esige  CD4  0.831520
 4     kz900        9.5 esige  CD5  0.569496
 5     kz900        9.5 esige  CD6  0.339665
 6     kz901  9.5 esige @MPW2  CD1  0.096138
 7     kz901  9.5 esige @MPW2  CD2  0.720987
 8     kz901  9.5 esige @MPW2  CD3  0.424481
 9     kz901  9.5 esige @MPW2  CD4  0.420380
 10    kz901  9.5 esige @MPW2  CD5  0.637905
 11    kz901  9.5 esige @MPW2  CD6  0.835443,
 '_40':    step_seq        step_desc item     value
 0     kz900        9.5 esige  CD1  0.076518
 1     kz900        9.5 esige  CD2  0.277317
 2     kz900        9.5 esige  CD3  0.233110
 3     kz900        9.5 esige  CD4  0.032080
 4     kz900        9.5 esige  CD5  0.448799
 5     kz900        9.5 esige  CD6  0.003331
 6     kz901  9.5 esige @MPW2  CD1  0.426568
 7     kz901  9.5 esige @MPW2  CD2  0.034974
 8     kz901  9.5 esige @MPW2  CD3  0.834206
 9     kz901  9.5 esige @MPW2  CD4  0.113713
 10    kz901  9.5 esige @MPW2  CD5  0.239632
 11    kz901  9.5 esige @MPW2  CD6  0.773667,
 '_41':                   KNGN   KNGG
 step_desc KNGF
 9.5 esige kz900  kz901  kz902,
 '_44':                   KNGN   KNGG
 step_desc KNGF
 9.5 esige kz900  kz901  kz902,
 '_45': step_desc  KNGF
 9.5 esige  kz900  KNGN    kz901
                   KNGG    kz902
 dtype: object,
 '_47':   step_seq_r step_seq step_desc_r
 0      kz900    kz901   9.5 esige
 1      kz900    kz902   9.5 esige,
 '_49':   step_seq_r step_seq step_desc_r
 0      kz900    kz901   9.5 esige
 1      kz900    kz902   9.5 esige,
 '_5':    step_seq             step item     value
 0     kz900        9.5 esige  CD1  0.339807
 1     kz900        9.5 esige  CD2  0.139448
 2     kz900        9.5 esige  CD3  0.216877
 3     kz900        9.5 esige  CD4  0.831520
 4     kz900        9.5 esige  CD5  0.569496
 5     kz900        9.5 esige  CD6  0.339665
 6     kz901  9.5 esige @MPW2  CD1  0.096138
 7     kz901  9.5 esige @MPW2  CD2  0.720987
 8     kz901  9.5 esige @MPW2  CD3  0.424481
 9     kz901  9.5 esige @MPW2  CD4  0.420380
 10    kz901  9.5 esige @MPW2  CD5  0.637905
 11    kz901  9.5 esige @MPW2  CD6  0.835443,
 '_50':    step_seq  step_desc item     value
 0     kz900  9.5 esige  CD1  0.076518
 1     kz900  9.5 esige  CD2  0.277317
 2     kz900  9.5 esige  CD3  0.233110
 3     kz900  9.5 esige  CD4  0.032080
 4     kz900  9.5 esige  CD5  0.448799
 5     kz900  9.5 esige  CD6  0.003331
 6     kz900  9.5 esige  CD1  0.426568
 7     kz900  9.5 esige  CD2  0.034974
 8     kz900  9.5 esige  CD3  0.834206
 9     kz900  9.5 esige  CD4  0.113713
 10    kz900  9.5 esige  CD5  0.239632
 11    kz900  9.5 esige  CD6  0.773667,
 '_52':    step_seq  step_desc item     value
 0     kz900  9.5 esige  CD1  0.076518
 1     kz900  9.5 esige  CD2  0.277317
 2     kz900  9.5 esige  CD3  0.233110
 3     kz900  9.5 esige  CD4  0.032080
 4     kz900  9.5 esige  CD5  0.448799
 5     kz900  9.5 esige  CD6  0.003331
 6     kz900  9.5 esige  CD1  0.426568
 7     kz900  9.5 esige  CD2  0.034974
 8     kz900  9.5 esige  CD3  0.834206
 9     kz900  9.5 esige  CD4  0.113713
 10    kz900  9.5 esige  CD5  0.239632
 11    kz900  9.5 esige  CD6  0.773667,
 '_53':    step_seq  step_desc item     value
 0     kz900  9.5 esige  CD1  0.076518
 1     kz900  9.5 esige  CD2  0.277317
 2     kz900  9.5 esige  CD3  0.233110
 3     kz900  9.5 esige  CD4  0.032080
 4     kz900  9.5 esige  CD5  0.448799
 5     kz900  9.5 esige  CD6  0.003331
 6     kz900  9.5 esige  CD1  0.426568
 7     kz900  9.5 esige  CD2  0.034974
 8     kz900  9.5 esige  CD3  0.834206
 9     kz900  9.5 esige  CD4  0.113713
 10    kz900  9.5 esige  CD5  0.239632
 11    kz900  9.5 esige  CD6  0.773667,
 '_56': {'contetns': "\n        step_seq < 'KZ010000'\n    ",
  'method': 'script'},
 '_58': {'contetns': [], 'method': 'script', 'new': 'rcp'},
 '_6':             KNGF   KNGN   KNGG
 step_desc
 9.5 esige  kz900  kz901  kz902,
 '_60': {'contetns': [], 'method': 'script', 'new': 'rcp'},
 '_64': True,
 '_8':             KNGF   KNGN   KNGG
 step_desc
 9.5 esige  kz900  kz901  kz902,
 '__': {'contetns': [], 'method': 'script', 'new': 'rcp'},
 '___': {'contetns': [], 'method': 'script', 'new': 'rcp'},
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__loader__': None,
 '__name__': '__main__',
 '__package__': None,
 '__spec__': None,
 '_dh': ['C:\\Codes\\Snippets\\Correlator'],
 '_i': 'res is None',
 '_i1': '<aid="it_v_integ"></a>',
 '_i10': 'criteria2 = criteria.stack()\n\ncriteria2',
 '_i11': "ref = 'KNGF'",
 '_i12': "criteria.set_index(['step_desc',ref], inplace=True)",
 '_i13': "raw_df = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle raw.txt')\ncriteria = pd.read_table(r'C:\\Codes\\Snippets\\Correlator\\inter vehicle criteria.txt')",
 '_i14': 'raw_df',
 '_i15': 'criteria',