# Correlator

---

# Table of Contents

### 1. Anova

- [anova output handling](#anova_out)

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

---

<a id="anova_out"></a>

# Anova Ouput

In [1]:
import pandas as pd

In [4]:
anova_outout = pd.read_table(
    r'C:\Codes\Snippets\Correlator\output.txt',
)

anova_outout

   rank item step
0     1  CD1    A
1     2  CD1    B
2     3  CD1    C

In [5]:
item = pd.read_table(
    r'C:\Codes\Snippets\Correlator\item.txt',
)

item

  lot_wf item sub  value
0    0xx  CD1  s1    100
1    0xx  CD1  s2     98
2    0xx  CD1  s3     99
3    196  CD1  s1     75
4    196  CD1  s2     82
5    196  CD1  s3     86

In [6]:
path = pd.read_table(
    r'C:\Codes\Snippets\Correlator\path.txt',
)

path

  lot_wf step ppid
0    0xx    A    a
1    0xx    B    a
2    0xx    C    b
3    196    A    b
4    196    B    c
5    196    C    a

## merge outpus

In [7]:
res = pd.merge(anova_outout, item, on=['item'], how='left')

In [8]:
res = pd.merge(res, path, on=['lot_wf','step'], how='left')

## data output successfully merged

In [9]:
res

    rank item step lot_wf sub  value ppid
0      1  CD1    A    0xx  s1    100    a
1      1  CD1    A    0xx  s2     98    a
2      1  CD1    A    0xx  s3     99    a
3      1  CD1    A    196  s1     75    b
4      1  CD1    A    196  s2     82    b
5      1  CD1    A    196  s3     86    b
6      2  CD1    B    0xx  s1    100    a
7      2  CD1    B    0xx  s2     98    a
8      2  CD1    B    0xx  s3     99    a
9      2  CD1    B    196  s1     75    c
10     2  CD1    B    196  s2     82    c
11     2  CD1    B    196  s3     86    c
12     3  CD1    C    0xx  s1    100    b
13     3  CD1    C    0xx  s2     98    b
14     3  CD1    C    0xx  s3     99    b
15     3  CD1    C    196  s1     75    a
16     3  CD1    C    196  s2     82    a
17     3  CD1    C    196  s3     86    a