In [1]:
importt pandas as pd

# add EC step information to another sheet

In [2]:
_path = r'C:\Codes\Snippets\sample data\sample.xlsx'

prp = pd.read_excel(
    _path,
    sheetname='prp',
)

ec = pd.read_excel(
    _path,
    sheetname='ec',
)

In [3]:
prp

   step_seq           step_desc
0  kz001800       9.4 tk adi cd
1  kz001801  9.4 tk adi cd dbkm
2  kz001802  9.4 tk adi cd mpw2
3  kz001803  9.4 tk adi cd mpw3

In [4]:
ec

     step_seq           step_desc
0  kz001800EC       9.4 tk adi cd
1  kz001802EC  9.4 tk adi cd mpw2

In [5]:
res = pd.concat([prp, ec], ignore_index=True)

res

     step_seq           step_desc
0    kz001800       9.4 tk adi cd
1    kz001801  9.4 tk adi cd dbkm
2    kz001802  9.4 tk adi cd mpw2
3    kz001803  9.4 tk adi cd mpw3
4  kz001800EC       9.4 tk adi cd
5  kz001802EC  9.4 tk adi cd mpw2

In [6]:
res.sort_values(by=['step_seq'])

     step_seq           step_desc
0    kz001800       9.4 tk adi cd
4  kz001800EC       9.4 tk adi cd
1    kz001801  9.4 tk adi cd dbkm
2    kz001802  9.4 tk adi cd mpw2
5  kz001802EC  9.4 tk adi cd mpw2
3    kz001803  9.4 tk adi cd mpw3

In [7]:
path = pd.read_excel(
    _path,
    sheetname='path',
)

path

     step_seq    lot  wf   ppid
0    kz001800  AZ1XX   1  ppid1
1    kz001800  AZ1XX   2  ppid1
2    kz001800  AZ1XX   3  ppid1
3    kz001800  AZ1XX   4  ppid1
4    kz001800  AZ1XX   5  ppid1
5  kz001800EC  AZ1XX   1      a
6  kz001800EC  AZ1XX   2      a
7  kz001800EC  AZ1XX   3      a
8  kz001800EC  AZ1XX   4      a
9  kz001800EC  AZ1XX   5      b

In [11]:
result = pd.merge(res, path, on=['step_seq'], how='inner')

In [12]:
result

     step_seq      step_desc    lot  wf   ppid
0    kz001800  9.4 tk adi cd  AZ1XX   1  ppid1
1    kz001800  9.4 tk adi cd  AZ1XX   2  ppid1
2    kz001800  9.4 tk adi cd  AZ1XX   3  ppid1
3    kz001800  9.4 tk adi cd  AZ1XX   4  ppid1
4    kz001800  9.4 tk adi cd  AZ1XX   5  ppid1
5  kz001800EC  9.4 tk adi cd  AZ1XX   1      a
6  kz001800EC  9.4 tk adi cd  AZ1XX   2      a
7  kz001800EC  9.4 tk adi cd  AZ1XX   3      a
8  kz001800EC  9.4 tk adi cd  AZ1XX   4      a
9  kz001800EC  9.4 tk adi cd  AZ1XX   5      b

## remove skip step information

In [13]:
result = result[result['ppid'] != 'ppid1']

result

     step_seq      step_desc    lot  wf ppid
5  kz001800EC  9.4 tk adi cd  AZ1XX   1    a
6  kz001800EC  9.4 tk adi cd  AZ1XX   2    a
7  kz001800EC  9.4 tk adi cd  AZ1XX   3    a
8  kz001800EC  9.4 tk adi cd  AZ1XX   4    a
9  kz001800EC  9.4 tk adi cd  AZ1XX   5    b