In [1]:
import pandas as pd, goldentiger as gt

In [28]:
df = pd.read_excel(
    gt.sample,
    sheetname='data',
)

In [29]:
df

     lot step1 step2
0  AZ1XX     A     a
1  AZ1XX     A     b
2  AZ1XX     B     a
3  AZ1XX     B     b
4  AZ1XX     C     c

In [31]:
df.to_excel(r'C:\Codes\Snippets\sample data\outpu.xlsx', sheet_name='data')

### apply style to df

In [32]:
for col in ['step1','step2']:
    temp = df[col].unique()
    
    dic = dict()
    i = 0
    
    for val in temp:
        dic[val] = i
        i+=1
    
    # apply new elements to df
    df[col+'_c'] = df[col].map(dic)

In [34]:
_colors = ['red','blue','yellow','orange']

In [33]:
for col in ['step1_c', 'step2_c']:
    for val in df[col]:
        if

     lot step1 step2  step1_c  step2_c
0  AZ1XX     A     a        0        0
1  AZ1XX     A     b        0        1
2  AZ1XX     B     a        1        0
3  AZ1XX     B     b        1        1
4  AZ1XX     C     c        2        2

In [22]:
import xlsxwriter

# Create a workbook and add a worksheet.
workbook = xlsxwriter.Workbook(gt.sample)
worksheet = workbook.add_worksheet()

# Add a bold format to use to highlight cells.
bold = workbook.add_format({'bg_color': 'red'})

# Write some data headers.
worksheet.write('A1','Item', bold)
workbook.close()